### **To submit on Canvas for DH_assignment4**: 
1. This notebook with your additions (see the last cell, **Your Assignment**, for what to do)
2. Your notes from the reading part of the assignment.

## Tutorial: Intro to Dataframes in Pandas
In this notebook we'll run through some basic examples of what you can do in pandas. If you are new to programming parts will probably seem overwhelming, but that's ok! Just absorb as much as you can in a reasonable amount of time, and make a note of things you find confusing. One of the best ways to learn programming is to dive right into the "deep end", using real tools to do something you're interested in, with real data. We are not going to be evaluating you on your "coding skills" in any way, and our hope is that you just enjoy the process of learning.

Here are some resources:

1. [This](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) is the most helpful pandas "cheatsheet" (reference sheet) that I know of. It will probably be helpful to download it and refer to it as you go through the lesson.

2. A basic tutorial on pandas by Chris Potts from Stanford's Programming for Linguists class ([html version](http://web.stanford.edu/class/linguist278/notes/ling278_class12.html), [jupyter notebook version](http://web.stanford.edu/class/linguist278/notes/ling278_class12.ipynb)). Most of the tutorial below is adapted from this.

3. [10 minutes to pandas](http://pandas-docs.github.io/pandas-docs-travis/getting_started/10min.html). Note that despite it's friendly title this takes longer than 10 minutes, and is geared mainly toward people with some programming experience (though it's still possible to learn from it if you are new!).

4. [pandas User Guide](http://pandas-docs.github.io/pandas-docs-travis/user_guide/index.html), helpfully organized by topic.


As you go through the tutorial it may also be helpful to have the data uploaded in a google sheets page so that you can manually scroll around in it and compare with what the pandas operations do.

### Setup

In [45]:
%matplotlib inline
import pandas as pd
import os

First check what your "present working directory" (pwd) is by running the code cell below (remember to run a cell you hit [shift] + [enter/return]). The present working directory is the place in your computer's file system where any search for a file you are trying to load will begin. The default 
present working directory is your "home directory" but you can change it to any folder you want (for example your "Documents" folder) using Python's [os module](https://docs.python.org/3/library/os.html). In this class, for simplicity, we'll stick with the home directory as our present working directory. For example, on my computer (a macbook), the home directory is called "nicholasgardner" and has a house icon next to it. When I call
`%pwd` as below, I get the string '/Users/nicholasgardner', which is the filepath to my home directory.

In [9]:
%pwd

'/Users/nicholasgardner'

Let's import all(!) the data in the Grand Tour Explorer into pandas' spreadsheet-like objects, which are called "dataframes". Since GTE exports include three .tsv files (Travelers_Itineraries, Travelers_Life_Events, and Travelers) we will create a dataframe for each and assign it an informative variable name.


Here we use the python os module to create filepath variables to the three .tsv files we want to load. Filepaths are just strings, but it is a good idea to use the os.path.join() function to create them. Before you create the filepaths by running the cell below, do the following:
1. create a folder named 'GTE_exports' in your present working directory (e.g. your home directory)
2. creat a folder named 'all' within this 'GTE_exports' folder
3. place the three .tsv files downloaded from Canvas in this 'all' folder

In [12]:
TRAVELERS_FP = os.path.join("GTE_exports", "all", "Travelers_all.tsv")
TRAVELERS_ITINERARIES_FP = os.path.join("GTE_exports", "all", "Travelers_Itineraries_all.tsv")
TRAVELERS_LIFE_EVENTS_FP = os.path.join("GTE_exports", "all", "Travelers_Life_Events_all.tsv")

In [13]:
#execute this cell to see that filepaths are just strings
TRAVELERS_FP

'GTE_exports/all/Travelers_all.tsv'


In the cell below we load the .tsv files. 

We set the sep(arator) argument of pandas' read_csv() function to "\t" because we 
are loading .tsv (tab separated value) files. "\t" represents the tab character. As it's name indicates, read_csv() 
defaults to reading .csv (comma separated value) files. If we wanted to explicitly indicate we were reading a .csv file, 
we could pass the argument `sep=','` to the function in order to indicate that our file uses a comma to separate values 
within a row.

We set index_col of our dataframes to be the traveler's ID number (their unique identifier in the GTE database),
so that we can easily and unambiguously refer to their row entries. The traveler's ID number is named "index"
in the travelers .tsv file, while it is named "entryID" in the travelers_itineraries and travelers_life_events
files, so we need to pass the arguments `index_col="index"` and `index_col="entryID"` respectively.

In [108]:
travelers_all = pd.read_csv(
    TRAVELERS_FP, 
    sep="\t", 
    index_col="index")

travelers_itineraries_all = pd.read_csv(
    TRAVELERS_ITINERARIES_FP, 
    sep="\t", 
    index_col="entryID")


travelers_life_events_all = pd.read_csv(
    TRAVELERS_LIFE_EVENTS_FP, 
    sep="\t", 
    index_col="entryID")

### Inspecting our data

In [107]:
#let's check the 'shape' (row x column dimensions) of each of our dataframes.

travelers_all.shape #(6005,12) because there are 6005 person entries (rows) in the database, with 12 data fields (columns)

(6005, 12)

In [109]:
travelers_itineraries_all.shape

(27275, 16)

In [110]:
travelers_life_events_all.shape

(10041, 11)

In [111]:
#now let's look at the first ten entries of each of the dataframes to get a visual sense of what the
#data looks like, and so we can see what the columns are named in each of the three files
travelers_all.head(20)

,travelerNames,gender,birthDate,deathDate,birthPlace,deathPlace,parents,sources,eventsIndex,matchedMentions,unmatchedMentions,matchedMentionsEntryIndexes
index,,,,,,,,,,,,
0.0,Charles Abbot,Male,1757.0,1829.0,NaN,NaN,"John Abbot of Colchester, Essex, and Sarah, la...",Abbot jnl.MSS,"1,2,3,4,5,6,7",Oswald Leycester;Henry Bankes;John Mitford;Lou...,Angelo Dalmazzoni;Piranesi;Alessandro Cades;Lu...,"2948,220,3361,1536,3266,1164,2219,2205,2947,88..."
1.0,John Farr Abbot,Male,1756.0,1794.0,NaN,NaN,"John Abbot of Colchester, Essex",NaN,"8,9",Sarah Bentham,NaN,366
1.1,Mary Pearce,Female,1762.0,1793.0,NaN,NaN,NaN,NaN,10,Sarah Bentham;John Farr Abbot,NaN,"366,1"
2.0,Edward Abbott,Male,1737.0,1791.0,NaN,NaN,NaN,Redgrave 1878,11,William Wynne Ryland,NaN,4190
3.0,John Abbott,Male,NaN,NaN,NaN,NaN,NaN,NaN,12,Francis Harriman,NaN,2266
4.0,Abbott,Male,NaN,NaN,NaN,NaN,NaN,Martin jnl.MSS,NaN,NaN,NaN,NaN
6.0,Maj. Abercrombie,Male,1706.0,1781.0,NaN,NaN,NaN,Martin jnl.MSS,"13,14,15,16",James Martin;Edward Gibbon;William Guise;Col. ...,NaN,"3208,1935,2149,4269"
7.0,Abercromby,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"John, Lord Carmichael",NaN,808
8.0,Sir Ralph Abercromby,Male,1734.0,1801.0,NaN,NaN,George Abercromby,NaN,"17,18,19,20,21,22,23,24,25,26","George, Baron Keith",NaN,2732
9.0,Aberdeen,Male,NaN,NaN,NaN,NaN,NaN,"ASV ,Forbes MSS,Gazz.Tosc.",NaN,Margaret Forbes;Parnell,NaN,"1773,3742"
10.0,George Abernethy,Male,NaN,NaN,NaN,NaN,NaN,SP 98/19-37,NaN,"James Stuart, the Pretender",NaN,2648
12.0,"Willoughby Bertie, 4th Earl of Abingdon",Male,1740.0,1799.0,NaN,NaN,3rd E. of Abingdon,"AVR SA,CL,Clark/Bowron,CP,Dance letters MSS,Du...","27,28,29",Nathaniel Dance;Thomas Vivien;Richard Kaye;Joh...,Voltaire;Batoni;C. Weiss of Mulhausen;père Nic...,"1288,4941,2722,3429,397,1660,1935"
13.0,Col. Abram,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sir Sampson Gideon,NaN,1946
15.0,Ackmooty,Male,1687.0,1750.0,Scotland,NaN,NaN,Waters jnl.MSS,"30,31,32,33",NaN,NaN,NaN
16.0,John Dyke Acland,Male,1746.0,1778.0,NaN,NaN,"Sir Thomas Dyke Acland, 7th Bt.","ASV ,Gazz.Tosc.","34,35,36,37,38,39,40",Thomas Vivien;Reynolds,NaN,"4941,4067"
17.0,John Acton,Male,1703.0,1766.0,NaN,Pisa,"Edward Acton, London",Wal.Corr.,"41,42,43,44",James Mill;William Lowther;Horace Mann;Edward ...,NaN,"3321,3039,3169,1935"
18.0,John Francis Edward Acton,Male,1736.0,1811.0,NaN,Palermo,"Edward Acton, phys. of Besançon",NaN,"45,46,47,48,49",Sir William Hamilton;Joseph Edward Acton;Rober...,"Maria Carolina, Queen of Naples and Sicily;Bar...","2219,18.1,1652,18.2,17,18.3,18.4,18.5"
18.1,Joseph Edward Acton,Male,1737.0,1808.0,NaN,NaN,"Edward Acton, phys. of Besançon",NaN,"50,51",John Francis Edward Acton;Mary Anne Acton;Ferd...,NaN,"18,18.2,18.3,18.4,18.5"
18.2,Mary Anne Acton,Female,1786.0,1873.0,NaN,NaN,Joseph Edward Acton,NaN,52,Joseph Edward Acton;John Francis Edward Acton;...,NaN,"18.1,18,18.3,18.4,18.5,1652"
18.3,Ferdinand Richard Edward Acton,Male,1801.0,1837.0,NaN,NaN,"John Francis Edward Acton, Mary Anne Acton",NaN,53,Joseph Edward Acton;Robert Fagan;Mary Anne Act...,NaN,"18.1,1652,18.2,18.4,18.5,18"

In [112]:
travelers_itineraries_all.head(20)

,travelerNames,birthDate,deathDate,gender,travelPlace,coordinates,startDate,endDate,startYear,startMonth,startDay,endYear,endMonth,endDay,markers,travelIndex
entryID,,,,,,,,,,,,,,,,
0.0,Charles Abbot,1757.0,1829.0,Male,Dover,"51.1275,1.312222222",1788-8-26,1788-8-26,1788.0,8.0,26.0,1788.0,8.0,26.0,dep.,0
0.0,Charles Abbot,1757.0,1829.0,Male,Turin,"45.06666667,7.7",1788-9-10,1788-9-10,1788.0,9.0,10.0,1788.0,9.0,10.0,NaN,1
0.0,Charles Abbot,1757.0,1829.0,Male,Genoa,"44.40718611,8.933983333",1788-9-13,1788-9-13,1788.0,9.0,13.0,1788.0,9.0,13.0,NaN,2
0.0,Charles Abbot,1757.0,1829.0,Male,Leghorn,"43.55,10.31666667",1788-9-01,1788-9-01,1788.0,9.0,NaN,1788.0,9.0,NaN,NaN,3
0.0,Charles Abbot,1757.0,1829.0,Male,Pisa,"43.70853,10.4036",1788-9-01,1788-9-01,1788.0,9.0,NaN,1788.0,9.0,NaN,NaN,4
0.0,Charles Abbot,1757.0,1829.0,Male,Florence,"43.77138889,11.25416667",1788-9-15,1788-9-18,1788.0,9.0,15.0,1788.0,9.0,18.0,NaN,5
0.0,Charles Abbot,1757.0,1829.0,Male,Perugia,"43.1121,12.3888",1788-9-20,1788-9-20,1788.0,9.0,20.0,1788.0,9.0,20.0,NaN,6
0.0,Charles Abbot,1757.0,1829.0,Male,Narni,"42.517799,12.51640034",1788-9-01,1788-9-01,1788.0,9.0,NaN,1788.0,9.0,NaN,NaN,7
0.0,Charles Abbot,1757.0,1829.0,Male,Rome,"41.89305556,12.48277778",1788-9-21,1788-9-28,1788.0,9.0,21.0,1788.0,9.0,28.0,NaN,8
0.0,Charles Abbot,1757.0,1829.0,Male,Naples,"40.840141,14.25226021",1788-9-30,1788-10-6,1788.0,9.0,30.0,1788.0,10.0,6.0,NaN,9
0.0,Charles Abbot,1757.0,1829.0,Male,Rome,"41.89305556,12.48277778",1788-10-7,1788-10-10,1788.0,10.0,7.0,1788.0,10.0,10.0,NaN,10
0.0,Charles Abbot,1757.0,1829.0,Male,Siena,"43.31833333,11.33138889",1788-10-11,1788-10-11,1788.0,10.0,11.0,1788.0,10.0,11.0,NaN,11
0.0,Charles Abbot,1757.0,1829.0,Male,Florence,"43.77138889,11.25416667",1788-10-12,1788-10-12,1788.0,10.0,12.0,1788.0,10.0,12.0,NaN,12
0.0,Charles Abbot,1757.0,1829.0,Male,Bologna,"44.504822,11.34517956",1788-10-15,1788-10-15,1788.0,10.0,15.0,1788.0,10.0,15.0,NaN,13
0.0,Charles Abbot,1757.0,1829.0,Male,Venice,"45.43811,12.31814957",1788-10-16,1788-10-20,1788.0,10.0,16.0,1788.0,10.0,20.0,NaN,14
0.0,Charles Abbot,1757.0,1829.0,Male,Vicenza,"45.54672,11.5475",1788-10-01,1788-10-01,1788.0,10.0,NaN,1788.0,10.0,NaN,NaN,15
0.0,Charles Abbot,1757.0,1829.0,Male,Verona,"45.43815833,10.99374167",1788-10-22,1788-10-22,1788.0,10.0,22.0,1788.0,10.0,22.0,NaN,16
0.0,Charles Abbot,1757.0,1829.0,Male,London,"51.50853,-0.12574",1788-11-4,1788-11-4,1788.0,11.0,4.0,1788.0,11.0,4.0,NaN,17
1.0,John Farr Abbot,1756.0,1794.0,Male,England,"51.50722222,-0.1275",1793-8-14,1793-8-14,1793.0,8.0,14.0,1793.0,8.0,14.0,dep.,0
1.0,John Farr Abbot,1756.0,1794.0,Male,Verona,"45.43815833,10.99374167",1793-10-13,1793-10-13,1793.0,10.0,13.0,1793.0,10.0,13.0,NaN,1

In [113]:
travelers_life_events_all.head(20)

,travelerNames,birthDate,deathDate,gender,lifeEvents,eventsDetail1,eventsDetail2,place,startDate,endDate,eventsIndex
entryID,,,,,,,,,,,
0.0,Charles Abbot,1757.0,1829.0,Male,marriage,1,Elizabeth Gibbes,NaN,1796,NaN,1
0.0,Charles Abbot,1757.0,1829.0,Male,education,NaN,Westminster School,"Westminster, London",NaN,NaN,2
0.0,Charles Abbot,1757.0,1829.0,Male,education,NaN,"Church Christ College, Oxford",Oxford,1775,NaN,3
0.0,Charles Abbot,1757.0,1829.0,Male,education,NaN,Middle Temple,London,NaN,NaN,4
0.0,Charles Abbot,1757.0,1829.0,Male,education,NaN,Lincoln's Inn,London,1785,NaN,5
0.0,Charles Abbot,1757.0,1829.0,Male,occupation,Law,called to the bar,NaN,1783,NaN,6
0.0,Charles Abbot,1757.0,1829.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1795,1817.0,7
1.0,John Farr Abbot,1756.0,1794.0,Male,marriage,1,Mary Pearce,NaN,1786,NaN,8
1.0,John Farr Abbot,1756.0,1794.0,Male,occupation,Law,clerk of the rules King's Bench,NaN,1790,1794.0,9
1.1,Mary Pearce,1762.0,1793.0,Female,marriage,1,John Farr Abbot,NaN,1786,NaN,10
2.0,Edward Abbott,1737.0,1791.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,11
3.0,John Abbott,NaN,NaN,Male,DBITI employment or identifier,NaN,merchant,NaN,NaN,NaN,12
6.0,Maj. Abercrombie,1706.0,1781.0,Male,occupation,Army and Navy,army officer,NaN,NaN,NaN,13
6.0,Maj. Abercrombie,1706.0,1781.0,Male,military career,army,NaN,NaN,NaN,NaN,14
6.0,Maj. Abercrombie,1706.0,1781.0,Male,military career,army,Major,NaN,1760,NaN,15
6.0,Maj. Abercrombie,1706.0,1781.0,Male,military career,army,Lieutenant colonel,NaN,1770,NaN,16
8.0,Sir Ralph Abercromby,1734.0,1801.0,Male,marriage,1,Mary Anne Menzies,NaN,1767,NaN,17
8.0,Sir Ralph Abercromby,1734.0,1801.0,Male,education,NaN,NaN,Rugby,NaN,NaN,18
8.0,Sir Ralph Abercromby,1734.0,1801.0,Male,education,NaN,Edinburgh University,Edinburgh,NaN,NaN,19
8.0,Sir Ralph Abercromby,1734.0,1801.0,Male,occupation,Statesmen and Political Appointees,Knight of the Bath,NaN,1795,NaN,20

In [114]:
#we can pull out the data of a single column in our dataframe. For example, we can look at 
#the 'travelerNames' column in the Travelers.tsv file to see what the personal names corresponding to the traveler IDs are.
travelers_all['travelerNames']

index
0.0                                 Charles Abbot
1.0                               John Farr Abbot
1.1                                   Mary Pearce
2.0                                 Edward Abbott
3.0                                   John Abbott
4.0                                        Abbott
6.0                              Maj. Abercrombie
7.0                                    Abercromby
8.0                          Sir Ralph Abercromby
9.0                                      Aberdeen
10.0                             George Abernethy
12.0      Willoughby Bertie, 4th Earl of Abingdon
13.0                                   Col. Abram
15.0                                     Ackmooty
16.0                             John Dyke Acland
17.0                                   John Acton
18.0                    John Francis Edward Acton
18.1                          Joseph Edward Acton
18.2                              Mary Anne Acton
18.3               Ferdinand Richard Edward Acton
18.4               Charles Januarius Edward Acton
18.5                              Elizabeth Acton
19.0                              Dr Robert Adair
20.0                                William Adair
21.0                                   James Adam
22.0                                    John Adam
23.0                                  Robert Adam
23.1              Donald (Servant of Robert Adam)
24.0                                     C. Adams
25.0                                 Edmond Adams
                           ...
5267.4           Fourth Daughter of Richard Wynne
5267.5            Fifth Daughter of Richard Wynne
5268.0                              William Wynne
5269.0                              William Wynne
5270.0                              Edward Wythie
5272.0                                       Yard
5273.0                               Robert Yarde
5274.0                                    Yoddral
5275.0                               George Yonge
5277.0              Edward Augustus, Duke of York
5278.0                            Hon. John Yorke
5278.1                            Elizabeth Lygon
5278.2                Daughter of Hon. John Yorke
5279.0                               Philip Yorke
5280.0                               Arthur Young
5281.0                               Arthur Young
5283.0                              William Young
5283.1                           Elizabeth Taylor
5284.0                              William Young
5285.0                           Dr William Young
5286.0                                      Young
5286.1                         First Son of Young
5286.2                        Second Son of Young
5286.3                    First Daughter of Young
5286.4                   Second Daughter of Young
5287.0                            Richard Younger
5288.0                               Rev. Younger
5289.0                               Richard Yoye
5290.0                                    Zachary
5290.1                           Zachary (name 2)
Name: travelerNames, Length: 6005, dtype: object

In [115]:
#or we can look at the travel places corresponding to each travel event (ordered by traveler ID) in the
#Travelers_Itineraries file
travelers_itineraries_all['travelPlace']

entryID
0.0          Dover
0.0          Turin
0.0          Genoa
0.0        Leghorn
0.0           Pisa
0.0       Florence
0.0        Perugia
0.0          Narni
0.0           Rome
0.0         Naples
0.0           Rome
0.0          Siena
0.0       Florence
0.0        Bologna
0.0         Venice
0.0        Vicenza
0.0         Verona
0.0         London
1.0        England
1.0         Verona
1.0        Vicenza
1.0          Padua
1.0         Venice
1.0          Padua
1.0        Ferrara
1.0        Bologna
1.0       Florence
1.0          Siena
1.0        Viterbo
1.0           Rome
            ...
5285.0        Rome
5285.0     Bologna
5285.0      Venice
5285.0       Padua
5285.0     Vicenza
5285.0      Verona
5285.0      Mantua
5285.0       Parma
5285.0       Milan
5285.0       Pavia
5286.0        Rome
5286.0        Rome
5286.0        Rome
5286.0    Florence
5286.0      Naples
5286.0      Naples
5286.0      Naples
5286.0      Naples
5286.0    Florence
5286.1    Florence
5286.2    Florence
5286.3    Florence
5286.4    Florence
5287.0        Rome
5288.0        Rome
5288.0      Venice
5289.0    Florence
5290.0       Turin
5290.0      Venice
5290.1      Venice
Name: travelPlace, Length: 27275, dtype: object

In [116]:
#we can pass a list of multiple columns and see the data in all of them
travelers_itineraries_all[ ['travelerNames', 'travelPlace', 'startMonth','endMonth'] ]

                    travelerNames travelPlace  startMonth  endMonth
entryID
0.0                 Charles Abbot       Dover         8.0       8.0
0.0                 Charles Abbot       Turin         9.0       9.0
0.0                 Charles Abbot       Genoa         9.0       9.0
0.0                 Charles Abbot     Leghorn         9.0       9.0
0.0                 Charles Abbot        Pisa         9.0       9.0
0.0                 Charles Abbot    Florence         9.0       9.0
0.0                 Charles Abbot     Perugia         9.0       9.0
0.0                 Charles Abbot       Narni         9.0       9.0
0.0                 Charles Abbot        Rome         9.0       9.0
0.0                 Charles Abbot      Naples         9.0      10.0
0.0                 Charles Abbot        Rome        10.0      10.0
0.0                 Charles Abbot       Siena        10.0      10.0
0.0                 Charles Abbot    Florence        10.0      10.0
0.0                 Charles Abbot     Bologna        10.0      10.0
0.0                 Charles Abbot      Venice        10.0      10.0
0.0                 Charles Abbot     Vicenza        10.0      10.0
0.0                 Charles Abbot      Verona        10.0      10.0
0.0                 Charles Abbot      London        11.0      11.0
1.0               John Farr Abbot     England         8.0       8.0
1.0               John Farr Abbot      Verona        10.0      10.0
1.0               John Farr Abbot     Vicenza        10.0      10.0
1.0               John Farr Abbot       Padua        10.0      10.0
1.0               John Farr Abbot      Venice        10.0      10.0
1.0               John Farr Abbot       Padua        10.0      10.0
1.0               John Farr Abbot     Ferrara        10.0      10.0
1.0               John Farr Abbot     Bologna        10.0      10.0
1.0               John Farr Abbot    Florence        10.0      10.0
1.0               John Farr Abbot       Siena        10.0      10.0
1.0               John Farr Abbot     Viterbo        10.0      10.0
1.0               John Farr Abbot        Rome        11.0      11.0
...                           ...         ...         ...       ...
5285.0           Dr William Young        Rome         3.0       4.0
5285.0           Dr William Young     Bologna         5.0       5.0
5285.0           Dr William Young      Venice         5.0       5.0
5285.0           Dr William Young       Padua         5.0       5.0
5285.0           Dr William Young     Vicenza         5.0       5.0
5285.0           Dr William Young      Verona         5.0       6.0
5285.0           Dr William Young      Mantua         6.0       6.0
5285.0           Dr William Young       Parma         6.0       6.0
5285.0           Dr William Young       Milan         6.0       6.0
5285.0           Dr William Young       Pavia         6.0       6.0
5286.0                      Young        Rome         7.0       7.0
5286.0                      Young        Rome         1.0       1.0
5286.0                      Young        Rome         3.0       3.0
5286.0                      Young    Florence        11.0      11.0
5286.0                      Young      Naples        12.0      12.0
5286.0                      Young      Naples         9.0       9.0
5286.0                      Young      Naples         3.0       4.0
5286.0                      Young      Naples         5.0       5.0
5286.0                      Young    Florence         NaN       NaN
5286.1         First Son of Young    Florence         NaN       NaN
5286.2        Second Son of Young    Florence         NaN       NaN
5286.3    First Daughter of Young    Florence         NaN       NaN
5286.4   Second Daughter of Young    Florence         NaN       NaN
5287.0            Richard Younger        Rome         NaN       NaN
5288.0               Rev. Younger        Rome         9.0      10.0
5288.0               Rev. Younger      Venice        12.0      12.0
5289.0               Richard Yoye    Florence        11.0      11.0
5290.0                    Zachary       Turin         3.0       3.0
5290.0                    Zachary      Venice         7.0       7.0
5290.1           Zachary (name 2)      Venice         7.0       7.0

[27275 rows x 4 columns]

### Getting specific rows

We can use `.loc[TRAVELER ID]` method to view the rows of data associated with TRAVELER ID. For example, Charles Abbot has traveler ID 0.0, so we can view the rows corresponding to his itinerary as follows.

In [117]:
travelers_itineraries_all.loc[0.0]

,travelerNames,birthDate,deathDate,gender,travelPlace,coordinates,startDate,endDate,startYear,startMonth,startDay,endYear,endMonth,endDay,markers,travelIndex
entryID,,,,,,,,,,,,,,,,
0.0,Charles Abbot,1757.0,1829.0,Male,Dover,"51.1275,1.312222222",1788-8-26,1788-8-26,1788.0,8.0,26.0,1788.0,8.0,26.0,dep.,0
0.0,Charles Abbot,1757.0,1829.0,Male,Turin,"45.06666667,7.7",1788-9-10,1788-9-10,1788.0,9.0,10.0,1788.0,9.0,10.0,NaN,1
0.0,Charles Abbot,1757.0,1829.0,Male,Genoa,"44.40718611,8.933983333",1788-9-13,1788-9-13,1788.0,9.0,13.0,1788.0,9.0,13.0,NaN,2
0.0,Charles Abbot,1757.0,1829.0,Male,Leghorn,"43.55,10.31666667",1788-9-01,1788-9-01,1788.0,9.0,NaN,1788.0,9.0,NaN,NaN,3
0.0,Charles Abbot,1757.0,1829.0,Male,Pisa,"43.70853,10.4036",1788-9-01,1788-9-01,1788.0,9.0,NaN,1788.0,9.0,NaN,NaN,4
0.0,Charles Abbot,1757.0,1829.0,Male,Florence,"43.77138889,11.25416667",1788-9-15,1788-9-18,1788.0,9.0,15.0,1788.0,9.0,18.0,NaN,5
0.0,Charles Abbot,1757.0,1829.0,Male,Perugia,"43.1121,12.3888",1788-9-20,1788-9-20,1788.0,9.0,20.0,1788.0,9.0,20.0,NaN,6
0.0,Charles Abbot,1757.0,1829.0,Male,Narni,"42.517799,12.51640034",1788-9-01,1788-9-01,1788.0,9.0,NaN,1788.0,9.0,NaN,NaN,7
0.0,Charles Abbot,1757.0,1829.0,Male,Rome,"41.89305556,12.48277778",1788-9-21,1788-9-28,1788.0,9.0,21.0,1788.0,9.0,28.0,NaN,8
0.0,Charles Abbot,1757.0,1829.0,Male,Naples,"40.840141,14.25226021",1788-9-30,1788-10-6,1788.0,9.0,30.0,1788.0,10.0,6.0,NaN,9
0.0,Charles Abbot,1757.0,1829.0,Male,Rome,"41.89305556,12.48277778",1788-10-7,1788-10-10,1788.0,10.0,7.0,1788.0,10.0,10.0,NaN,10
0.0,Charles Abbot,1757.0,1829.0,Male,Siena,"43.31833333,11.33138889",1788-10-11,1788-10-11,1788.0,10.0,11.0,1788.0,10.0,11.0,NaN,11
0.0,Charles Abbot,1757.0,1829.0,Male,Florence,"43.77138889,11.25416667",1788-10-12,1788-10-12,1788.0,10.0,12.0,1788.0,10.0,12.0,NaN,12
0.0,Charles Abbot,1757.0,1829.0,Male,Bologna,"44.504822,11.34517956",1788-10-15,1788-10-15,1788.0,10.0,15.0,1788.0,10.0,15.0,NaN,13
0.0,Charles Abbot,1757.0,1829.0,Male,Venice,"45.43811,12.31814957",1788-10-16,1788-10-20,1788.0,10.0,16.0,1788.0,10.0,20.0,NaN,14
0.0,Charles Abbot,1757.0,1829.0,Male,Vicenza,"45.54672,11.5475",1788-10-01,1788-10-01,1788.0,10.0,NaN,1788.0,10.0,NaN,NaN,15
0.0,Charles Abbot,1757.0,1829.0,Male,Verona,"45.43815833,10.99374167",1788-10-22,1788-10-22,1788.0,10.0,22.0,1788.0,10.0,22.0,NaN,16
0.0,Charles Abbot,1757.0,1829.0,Male,London,"51.50853,-0.12574",1788-11-4,1788-11-4,1788.0,11.0,4.0,1788.0,11.0,4.0,NaN,17

In [126]:
#calculate travel age at time of each travel event. Note that there is often not a single
#"age at travel time" that stays constant throughout a tour, since some travelers were in Italy 
#for more than a year
print(travelers_itineraries_all['startYear'] - travelers_itineraries_all['birthDate'])

entryID
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
0.0       31.0
1.0       37.0
1.0       37.0
1.0       37.0
1.0       37.0
1.0       37.0
1.0       37.0
1.0       37.0
1.0       37.0
1.0       37.0
1.0       37.0
1.0       37.0
1.0       37.0
          ...
5285.0     NaN
5285.0     NaN
5285.0     NaN
5285.0     NaN
5285.0     NaN
5285.0     NaN
5285.0     NaN
5285.0     NaN
5285.0     NaN
5285.0     NaN
5286.0     NaN
5286.0     NaN
5286.0     NaN
5286.0     NaN
5286.0     NaN
5286.0     NaN
5286.0     NaN
5286.0     NaN
5286.0     NaN
5286.1     NaN
5286.2     NaN
5286.3     NaN
5286.4     NaN
5287.0     NaN
5288.0     NaN
5288.0     NaN
5289.0     NaN
5290.0     NaN
5290.0     NaN
5290.1     NaN
Length: 27275, dtype: float64

### Basic counting, and other summary statistics of the data

In [51]:
#count how many "travel events" there are for each place in the GTE database
travelers_itineraries_all['travelPlace'].value_counts()

Rome              5050
Florence          2971
Venice            2686
Naples            2388
Padua             1339
Turin             1171
Leghorn           1111
Bologna            865
Genoa              732
England            713
Milan              681
Pisa               490
Verona             460
Siena              359
Parma              352
London             276
Capua              269
Lucca              212
Vicenza            198
Modena             182
Mantua             175
Italy              174
Loreto             169
Sicily             142
Paris              141
Ferrara            120
Geneva             120
Vienna             106
Piacenza            84
Dover               81
                  ...
Ohlau                1
Asola                1
Porto Palinuro       1
Fiumicino            1
Pera                 1
Clitumnus            1
Ascoli               1
Cerignola            1
Avellino             1
Brenner              1
eastern Europe       1
Monza                1
Nola                 1
Salzburg             1
Avezzano             1
Zante                1
Celano               1
Fondi                1
Crete                1
Arienzo              1
Nettuno              1
Barletta             1
Lake Nemi            1
Polla                1
Pola in Istria       1
Dieppe               1
Limerick             1
Cori                 1
Istria               1
Delaware             1
Name: travelPlace, Length: 431, dtype: int64

In [152]:
#get some statistics on travel start date (when is the most travel activity reported in our data)
mean_travel_year = travelers_itineraries_all['startYear'].mean()  #using the mean doesn't make much sense in this case
median_travel_year = travelers_itineraries_all['startYear'].median()

                                                
print("the mean travel year is: ", mean_travel_year) 
print("the median travel year is: ", median_travel_year)

the mean travel year is:  1761.536734993755
the median travel year is:  1768.0

### More sophisticated data selection

In [137]:
#disclaimer: this one is pretty confusing at first
#create a "boolean filter" to extract travelers whose occupation is known
filter_for_occupations = travelers_life_events_all['lifeEvents'] == "occupation"

#we see that this gives us "True" values for those travelers whose occupation is known
filter_for_occupations

entryID
0.0       False
0.0       False
0.0       False
0.0       False
0.0       False
0.0        True
0.0        True
1.0       False
1.0        True
1.1       False
2.0       False
3.0       False
6.0        True
6.0       False
6.0       False
6.0       False
8.0       False
8.0       False
8.0       False
8.0        True
8.0        True
8.0       False
8.0       False
8.0       False
8.0       False
8.0       False
12.0      False
12.0      False
12.0      False
15.0      False
          ...
5278.0    False
5278.0     True
5278.0     True
5278.1    False
5279.0    False
5279.0    False
5279.0    False
5279.0    False
5279.0    False
5279.0     True
5279.0     True
5279.0     True
5281.0    False
5281.0    False
5281.0     True
5283.0    False
5283.0     True
5283.1    False
5284.0    False
5284.0    False
5284.0    False
5284.0    False
5284.0    False
5284.0    False
5284.0    False
5284.0    False
5284.0     True
5284.0     True
5286.1     True
5286.2     True
Name: lifeEvents, Length: 10041, dtype: bool

In [138]:
#now apply/input this filter to the travelers_life_events_all dataframe to view only the travelers whose occupation is known
travelers_life_events_all[filter_for_occupations]

,travelerNames,birthDate,deathDate,gender,lifeEvents,eventsDetail1,eventsDetail2,place,startDate,endDate,eventsIndex
entryID,,,,,,,,,,,
0.0,Charles Abbot,1757.0,1829.0,Male,occupation,Law,called to the bar,NaN,1783,NaN,6
0.0,Charles Abbot,1757.0,1829.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1795,1817.0,7
1.0,John Farr Abbot,1756.0,1794.0,Male,occupation,Law,clerk of the rules King's Bench,NaN,1790,1794.0,9
6.0,Maj. Abercrombie,1706.0,1781.0,Male,occupation,Army and Navy,army officer,NaN,NaN,NaN,13
8.0,Sir Ralph Abercromby,1734.0,1801.0,Male,occupation,Statesmen and Political Appointees,Knight of the Bath,NaN,1795,NaN,20
8.0,Sir Ralph Abercromby,1734.0,1801.0,Male,occupation,Army and Navy,army officer,NaN,NaN,NaN,21
15.0,Ackmooty,1687.0,1750.0,Male,occupation,Law,called to the bar,NaN,1711,NaN,33
16.0,John Dyke Acland,1746.0,1778.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1774,1778.0,36
16.0,John Dyke Acland,1746.0,1778.0,Male,occupation,Army and Navy,army officer,NaN,NaN,NaN,37
17.0,John Acton,1703.0,1766.0,Male,occupation,Statesmen and Political Appointees,captain East India Company,EICo,NaN,1747.0,41
17.0,John Acton,1703.0,1766.0,Male,occupation,Army and Navy,naval officer,NaN,NaN,NaN,42
18.0,John Francis Edward Acton,1736.0,1811.0,Male,occupation,Army and Navy,naval officer,NaN,1755,1778.0,46
18.1,Joseph Edward Acton,1737.0,1808.0,Male,occupation,Army and Navy,naval officer,NaN,NaN,NaN,50
19.0,Dr Robert Adair,1716.0,1790.0,Male,occupation,Physicians,surgeon,Dublin,NaN,NaN,58
19.0,Dr Robert Adair,1716.0,1790.0,Male,occupation,Physicians,chief surgeon,forces,1756,NaN,59
19.0,Dr Robert Adair,1716.0,1790.0,Male,occupation,Physicians,surgeon,King,NaN,NaN,60
19.0,Dr Robert Adair,1716.0,1790.0,Male,occupation,Physicians,surgeon-general,forces,1786,NaN,61
21.0,James Adam,1732.0,1794.0,Male,occupation,"Artists, Architects, Craftsmen",architect,King's Works,1769,1782.0,63
23.0,Robert Adam,1728.0,1792.0,Male,occupation,"Artists, Architects, Craftsmen",architect,King's Works,1762,1768.0,68
23.0,Robert Adam,1728.0,1792.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1768,1774.0,69
29.0,Joseph Addison,1672.0,1719.0,Male,occupation,"Scholars, Academics, Authors",fellow,"Magdalen College, Oxford",1697,1711.0,80
29.0,Joseph Addison,1672.0,1719.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1708,1719.0,81
32.0,Henry Welbore Agar,1761.0,1836.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,Ireland,1783,1789.0,87
32.0,Henry Welbore Agar,1761.0,1836.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1793,1802.0,88
37.0,William Aikman,1695.0,1784.0,Male,occupation,Patrons and Founders,founder,"Ross Almshouses, Hamilton, Lan.",NaN,NaN,94
43.0,Richard Neville Aldworth,1717.0,1793.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1747,1774.0,101
43.0,Richard Neville Aldworth,1717.0,1793.0,Male,occupation,Diplomacy,secretary,Paris,1762,1763.0,102
43.0,Richard Neville Aldworth,1717.0,1793.0,Male,occupation,Diplomacy,minister plenipotentiary,Paris,1763,NaN,103
47.0,James Alexander,1730.0,1802.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,Ireland,1775,1790.0,107
52.0,David Allan,1744.0,1796.0,Male,occupation,"Scholars, Academics, Authors",master,"Trustees Drawing Academy, Edinburgh",NaN,NaN,115
...,...,...,...,...,...,...,...,...,...,...,...
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",architect,Board of Ordinance,1782,1783.0,9940
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",surveyor-general,Office of Works,1796,NaN,9941
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",surveyor,Westminster Abbey,1776,NaN,9942
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",architect,"Board of Ordinance, London",1782,1783.0,9943
5247.0,"John Henry Petty, Earl of Wycombe",1765.0,1809.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1786,1802.0,9946
5249.0,Charles Wyndham,1710.0,1763.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1735,1750.0,9951
5250.0,Henry Penruddocke Wyndham,1736.0,1819.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1795,1812.0,9958
5256.0,"Sir William, 3rd Bt. Wyndham",1688.0,1740.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1710,1740.0,9963
5257.0,Hon. William Frederick Wyndham,1767.0,1828.0,Male,occupation,Diplomacy,envoy extraordinary,Tuscan Court,1794,1799.0,9966
5257.0,Hon. William Frederick Wyndham,1767.0,1828.0,Male,occupation,Diplomacy,minister plenipotentiary,Tuscan Court,1799,1807.0,9967
5259.0,John Wynn,1701.0,1773.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1740,1747.0,9974
5259.0,John Wynn,1701.0,1773.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1754,1768.0,9975
5261.0,"Sir Watkin Williams, 4th Bt. Wynn",1748.0,1789.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1772,1789.0,9981
5270.0,Edward Wythie,1689.0,1769.0,Male,occupation,Clergy,ordained,NaN,1721,NaN,9997
5275.0,George Yonge,1733.0,1812.0,Male,occupation,Diplomacy,secretary,Turin,1753,NaN,10002
5275.0,George Yonge,1733.0,1812.0,Male,occupation,Statesmen and Political Appointees,Knight of the Bath,NaN,1788,NaN,10003
5275.0,George Yonge,1733.0,1812.0,Male,occupation,Statesmen and Political Appointees,governor,Cape of Good Hope,1799,1801.0,10004
5277.0,"Edward Augustus, Duke of York",1739.0,1767.0,Male,occupation,Statesmen and Political Appointees,Knight of the Garter,NaN,1752,NaN,10006
5277.0,"Edward Augustus, Duke of York",1739.0,1767.0,Male,occupation,Army and Navy,naval officer,NaN,NaN,NaN,10007
5278.0,Hon. John Yorke,1728.0,1801.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1753,1784.0,10013
5278.0,Hon. John Yorke,1728.0,1801.0,Male,occupation,Law,called to the bar,NaN,1754,NaN,10014
5279.0,Philip Yorke,1757.0,1834.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1780,1790.0,10021
5279.0,Philip Yorke,1757.0,1834.0,Male,occupation,Patrons and Founders,trustee,British Museum,1802,1834.0,10022
5279.0,Philip Yorke,1757.0,1834.0,Male,occupation,Statesmen and Political Appointees,Knight of the Garter,NaN,1803,NaN,10023
5281.0,Arthur Young,1741.0,1820.0,Male,occupation,"Scholars, Academics, Authors",author,Annals of Agriculture,1784,1809.0,10026
5283.0,William Young,1725.0,1788.0,Male,occupation,Statesmen and Political Appointees,governor,Dominica,1768,1774.0,10028
5284.0,William Young,1749.0,1815.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1784,1807.0,10038
5284.0,William Young,1749.0,1815.0,Male,occupation,Statesmen and Political Appointees,governor,Tobago,1807,1815.0,10039
5286.1,First Son of Young,NaN,NaN,Male,occupation,Diplomacy,secretary,Emperor of Germany,NaN,NaN,10040
5286.2,Second Son of Young,NaN,NaN,Male,occupation,Army and Navy,army officer,NaN,NaN,NaN,10041

In [139]:
#we could have done the above in one line, but it makes it even more confusing. Eventually, with practice, this sort
#of thing becomes intuitive.
travelers_life_events_all[travelers_life_events_all['lifeEvents'] == "occupation"]

,travelerNames,birthDate,deathDate,gender,lifeEvents,eventsDetail1,eventsDetail2,place,startDate,endDate,eventsIndex
entryID,,,,,,,,,,,
0.0,Charles Abbot,1757.0,1829.0,Male,occupation,Law,called to the bar,NaN,1783,NaN,6
0.0,Charles Abbot,1757.0,1829.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1795,1817.0,7
1.0,John Farr Abbot,1756.0,1794.0,Male,occupation,Law,clerk of the rules King's Bench,NaN,1790,1794.0,9
6.0,Maj. Abercrombie,1706.0,1781.0,Male,occupation,Army and Navy,army officer,NaN,NaN,NaN,13
8.0,Sir Ralph Abercromby,1734.0,1801.0,Male,occupation,Statesmen and Political Appointees,Knight of the Bath,NaN,1795,NaN,20
8.0,Sir Ralph Abercromby,1734.0,1801.0,Male,occupation,Army and Navy,army officer,NaN,NaN,NaN,21
15.0,Ackmooty,1687.0,1750.0,Male,occupation,Law,called to the bar,NaN,1711,NaN,33
16.0,John Dyke Acland,1746.0,1778.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1774,1778.0,36
16.0,John Dyke Acland,1746.0,1778.0,Male,occupation,Army and Navy,army officer,NaN,NaN,NaN,37
17.0,John Acton,1703.0,1766.0,Male,occupation,Statesmen and Political Appointees,captain East India Company,EICo,NaN,1747.0,41
17.0,John Acton,1703.0,1766.0,Male,occupation,Army and Navy,naval officer,NaN,NaN,NaN,42
18.0,John Francis Edward Acton,1736.0,1811.0,Male,occupation,Army and Navy,naval officer,NaN,1755,1778.0,46
18.1,Joseph Edward Acton,1737.0,1808.0,Male,occupation,Army and Navy,naval officer,NaN,NaN,NaN,50
19.0,Dr Robert Adair,1716.0,1790.0,Male,occupation,Physicians,surgeon,Dublin,NaN,NaN,58
19.0,Dr Robert Adair,1716.0,1790.0,Male,occupation,Physicians,chief surgeon,forces,1756,NaN,59
19.0,Dr Robert Adair,1716.0,1790.0,Male,occupation,Physicians,surgeon,King,NaN,NaN,60
19.0,Dr Robert Adair,1716.0,1790.0,Male,occupation,Physicians,surgeon-general,forces,1786,NaN,61
21.0,James Adam,1732.0,1794.0,Male,occupation,"Artists, Architects, Craftsmen",architect,King's Works,1769,1782.0,63
23.0,Robert Adam,1728.0,1792.0,Male,occupation,"Artists, Architects, Craftsmen",architect,King's Works,1762,1768.0,68
23.0,Robert Adam,1728.0,1792.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1768,1774.0,69
29.0,Joseph Addison,1672.0,1719.0,Male,occupation,"Scholars, Academics, Authors",fellow,"Magdalen College, Oxford",1697,1711.0,80
29.0,Joseph Addison,1672.0,1719.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1708,1719.0,81
32.0,Henry Welbore Agar,1761.0,1836.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,Ireland,1783,1789.0,87
32.0,Henry Welbore Agar,1761.0,1836.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1793,1802.0,88
37.0,William Aikman,1695.0,1784.0,Male,occupation,Patrons and Founders,founder,"Ross Almshouses, Hamilton, Lan.",NaN,NaN,94
43.0,Richard Neville Aldworth,1717.0,1793.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1747,1774.0,101
43.0,Richard Neville Aldworth,1717.0,1793.0,Male,occupation,Diplomacy,secretary,Paris,1762,1763.0,102
43.0,Richard Neville Aldworth,1717.0,1793.0,Male,occupation,Diplomacy,minister plenipotentiary,Paris,1763,NaN,103
47.0,James Alexander,1730.0,1802.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,Ireland,1775,1790.0,107
52.0,David Allan,1744.0,1796.0,Male,occupation,"Scholars, Academics, Authors",master,"Trustees Drawing Academy, Edinburgh",NaN,NaN,115
...,...,...,...,...,...,...,...,...,...,...,...
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",architect,Board of Ordinance,1782,1783.0,9940
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",surveyor-general,Office of Works,1796,NaN,9941
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",surveyor,Westminster Abbey,1776,NaN,9942
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",architect,"Board of Ordinance, London",1782,1783.0,9943
5247.0,"John Henry Petty, Earl of Wycombe",1765.0,1809.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1786,1802.0,9946
5249.0,Charles Wyndham,1710.0,1763.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1735,1750.0,9951
5250.0,Henry Penruddocke Wyndham,1736.0,1819.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1795,1812.0,9958
5256.0,"Sir William, 3rd Bt. Wyndham",1688.0,1740.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1710,1740.0,9963
5257.0,Hon. William Frederick Wyndham,1767.0,1828.0,Male,occupation,Diplomacy,envoy extraordinary,Tuscan Court,1794,1799.0,9966
5257.0,Hon. William Frederick Wyndham,1767.0,1828.0,Male,occupation,Diplomacy,minister plenipotentiary,Tuscan Court,1799,1807.0,9967
5259.0,John Wynn,1701.0,1773.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1740,1747.0,9974
5259.0,John Wynn,1701.0,1773.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1754,1768.0,9975
5261.0,"Sir Watkin Williams, 4th Bt. Wynn",1748.0,1789.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1772,1789.0,9981
5270.0,Edward Wythie,1689.0,1769.0,Male,occupation,Clergy,ordained,NaN,1721,NaN,9997
5275.0,George Yonge,1733.0,1812.0,Male,occupation,Diplomacy,secretary,Turin,1753,NaN,10002
5275.0,George Yonge,1733.0,1812.0,Male,occupation,Statesmen and Political Appointees,Knight of the Bath,NaN,1788,NaN,10003
5275.0,George Yonge,1733.0,1812.0,Male,occupation,Statesmen and Political Appointees,governor,Cape of Good Hope,1799,1801.0,10004
5277.0,"Edward Augustus, Duke of York",1739.0,1767.0,Male,occupation,Statesmen and Political Appointees,Knight of the Garter,NaN,1752,NaN,10006
5277.0,"Edward Augustus, Duke of York",1739.0,1767.0,Male,occupation,Army and Navy,naval officer,NaN,NaN,NaN,10007
5278.0,Hon. John Yorke,1728.0,1801.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1753,1784.0,10013
5278.0,Hon. John Yorke,1728.0,1801.0,Male,occupation,Law,called to the bar,NaN,1754,NaN,10014
5279.0,Philip Yorke,1757.0,1834.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1780,1790.0,10021
5279.0,Philip Yorke,1757.0,1834.0,Male,occupation,Patrons and Founders,trustee,British Museum,1802,1834.0,10022
5279.0,Philip Yorke,1757.0,1834.0,Male,occupation,Statesmen and Political Appointees,Knight of the Garter,NaN,1803,NaN,10023
5281.0,Arthur Young,1741.0,1820.0,Male,occupation,"Scholars, Academics, Authors",author,Annals of Agriculture,1784,1809.0,10026
5283.0,William Young,1725.0,1788.0,Male,occupation,Statesmen and Political Appointees,governor,Dominica,1768,1774.0,10028
5284.0,William Young,1749.0,1815.0,Male,occupation,Statesmen and Political Appointees,Member of Parliament,NaN,1784,1807.0,10038
5284.0,William Young,1749.0,1815.0,Male,occupation,Statesmen and Political Appointees,governor,Tobago,1807,1815.0,10039
5286.1,First Son of Young,NaN,NaN,Male,occupation,Diplomacy,secretary,Emperor of Germany,NaN,NaN,10040
5286.2,Second Son of Young,NaN,NaN,Male,occupation,Army and Navy,army officer,NaN,NaN,NaN,10041

In [153]:
#get all the painters and architects
target_occupations = {'painter', 'architect'} #this is a "set" object--it's like a list but unordered and without duplicates
travelers_life_events_all[ travelers_life_events_all['eventsDetail2'].isin(target_occupations) ]

,travelerNames,birthDate,deathDate,gender,lifeEvents,eventsDetail1,eventsDetail2,place,startDate,endDate,eventsIndex
entryID,,,,,,,,,,,
2.0,Edward Abbott,1737.0,1791.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,11
21.0,James Adam,1732.0,1794.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,62
21.0,James Adam,1732.0,1794.0,Male,occupation,"Artists, Architects, Craftsmen",architect,King's Works,1769,1782.0,63
23.0,Robert Adam,1728.0,1792.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,67
23.0,Robert Adam,1728.0,1792.0,Male,occupation,"Artists, Architects, Craftsmen",architect,King's Works,1762,1768.0,68
36.0,William Aikman,1682.0,1731.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,92
45.0,Cosmo Alexander,1724.0,1772.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,105
48.0,John Alexander,1686.0,1766.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,111
49.0,Alexander,1748.0,NaN,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,112
52.0,David Allan,1744.0,1796.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,114
114.0,Philip Arger,1749.0,NaN,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,238
126.0,William Artaud,1763.0,1823.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,283
146.0,John Astley,1724.0,1787.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,325
237.0,Henry Aston Barker,1774.0,1856.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,465
240.0,Thomas Barker,1769.0,1847.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,469
262.0,Hugh Barron,1747.0,1791.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,512
265.0,James Barry,1741.0,1806.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,518
276.0,James Basire,1730.0,1802.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,530
301.0,John Baxter,1737.0,1798.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,574
302.0,Baxter,1764.0,NaN,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,575
358.0,Charles Benazech,1767.0,1794.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,700
359.0,Henry Benbridge,1743.0,1812.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,701
416.0,Francis Bindon,1690.0,1765.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,801
416.0,Francis Bindon,1690.0,1765.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,802
517.0,Francis Bourgeois,1756.0,1811.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,990
517.0,Francis Bourgeois,1756.0,1811.0,Male,occupation,"Artists, Architects, Craftsmen",painter,King of Poland,NaN,NaN,991
565.0,Matthew Brettingham,1725.0,1803.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,1105
566.0,Robert William Furze Brettingham,1755.0,1820.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,1107
607.0,Richard Brompton,1734.0,1782.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,1189
607.0,Richard Brompton,1734.0,1782.0,Male,occupation,"Artists, Architects, Craftsmen",painter,court St Petersburg,1780,NaN,1190
...,...,...,...,...,...,...,...,...,...,...,...
4532.0,Edward Stevens,1744.0,1775.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,8646
4610.0,James 'Athenian' Stuart,1713.0,1788.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,8781
4610.0,James 'Athenian' Stuart,1713.0,1788.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,8782
4610.0,James 'Athenian' Stuart,1713.0,1788.0,Male,occupation,"Artists, Architects, Craftsmen",painter,Society of Dilettanti,1763,1768.0,8784
4619.0,George Stubbs,1724.0,1806.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,8805
4689.0,Charles Heathcote Tatham,1772.0,1842.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,8920
4699.0,Robert Taylor,1714.0,1788.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,8958
4725.0,William Theed,1764.0,1817.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,8981
4801.0,Francis Towne,1740.0,1816.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9074
4805.0,Charles Townley,1746.0,1800.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9088
4831.0,Henry Trench,1685.0,1726.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9133
4846.0,John Trotter,NaN,NaN,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9160
4970.0,George Augustus Wallis,1761.0,1847.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9403
4992.0,Isaac Ware,1707.0,1766.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,9436
4996.0,Thomas Warner,NaN,NaN,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9459
5041.0,John Webber,1752.0,1793.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9523
5072.0,Benjamin West,1738.0,1820.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9579
5108.0,Philip Wickstead,NaN,NaN,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9668
5140.0,Solomon Williams,1757.0,1824.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9743
5150.0,George Willison,1741.0,1797.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9754
5156.0,Wills,NaN,NaN,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9763
5161.0,Andrew Wilson,1780.0,1848.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9779
5165.0,Richard Wilson,1713.0,1782.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9786
5184.0,Hamlet Winstanley,1694.0,1756.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9830
5184.0,Hamlet Winstanley,1694.0,1756.0,Male,occupation,"Artists, Architects, Craftsmen",painter,10th Earl of Derby,1722,NaN,9831
5213.0,Samuel Woodforde,1765.0,1817.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9877
5239.0,Joseph Wright,1734.0,1797.0,Male,DBITI employment or identifier,NaN,painter,NaN,NaN,NaN,9931
5244.0,James Wyatt,1746.0,1813.0,Male,DBITI employment or identifier,NaN,architect,NaN,NaN,NaN,9939
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",architect,Board of Ordinance,1782,1783.0,9940
5244.0,James Wyatt,1746.0,1813.0,Male,occupation,"Artists, Architects, Craftsmen",architect,"Board of Ordinance, London",1782,1783.0,9943

### Sorting

In [127]:
#sort by travel place
travelers_itineraries_all.sort_values('travelPlace')

,travelerNames,birthDate,deathDate,gender,travelPlace,coordinates,startDate,endDate,startYear,startMonth,startDay,endYear,endMonth,endDay,markers,travelIndex
entryID,,,,,,,,,,,,,,,,
2488.0,Patrick Home,1728.0,1808.0,Male,Abano,"45.360458,11.78979015",1773-6-01,1773-7-01,1773.0,6.0,NaN,1773.0,7.0,NaN,NaN,17
1909.0,David Garrick,NaN,NaN,Male,Abano,"45.360458,11.78979015",1764-6-01,1764-8-01,1764.0,6.0,NaN,1764.0,8.0,NaN,NaN,14
2488.1,Jane Graham,NaN,NaN,Female,Abano,"45.360458,11.78979015",1773-6-01,1773-7-01,1773.0,6.0,NaN,1773.0,7.0,NaN,NaN,15
3883.0,Anne Pitt,1712.0,1781.0,Female,Abano,"45.360458,11.78979015",1775-5-01,1775-9-01,1775.0,5.0,NaN,1775.0,9.0,NaN,NaN,7
3883.0,Anne Pitt,1712.0,1781.0,Female,Abano,"45.360458,11.78979015",1774-5-01,1774-5-01,1774.0,5.0,NaN,1774.0,5.0,NaN,NaN,2
1909.1,Eva Maria Veigel,1724.0,1822.0,Female,Abano,"45.360458,11.78979015",1764-6-01,1764-8-01,1764.0,6.0,NaN,1764.0,8.0,NaN,NaN,14
2851.0,John La Touche,1772.0,1838.0,Male,Abano,"45.360458,11.78979015",1794-9-01,1795-1-01,1794.0,9.0,NaN,1795.0,1.0,NaN,c.; /,8
2834.0,Langdale,NaN,NaN,Male,Abano,"45.360458,11.78979015",1764-6-01,1764-6-01,1764.0,6.0,NaN,1764.0,6.0,NaN,NaN,3
2540.0,Edward Howard,1744.0,1767.0,Male,Abano,"45.360458,11.78979015",1764-6-01,1764-6-01,1764.0,6.0,NaN,1764.0,6.0,NaN,NaN,3
1539.0,John Dyer,1699.0,1757.0,Male,Aberglasney,"51.8806,-4.06223011",1725-9-01,1725-11-01,1725.0,9.0,NaN,1725.0,11.0,NaN,NaN,7
5119.0,John Wilkes,1725.0,1797.0,Male,Acquapendente,"42.743889,11.864444",1765-2-12,1765-2-12,1765.0,2.0,12.0,1765.0,2.0,12.0,NaN,8
2956.0,"Henry Fiennes Clinton, 9th Earl of Lincoln",1720.0,1794.0,Male,Acqui,"44.675072,8.466609955",1740-9-01,1740-10-01,1740.0,9.0,NaN,1740.0,10.0,NaN,NaN,2
4469.0,Joseph Spence,1699.0,1768.0,Male,Acqui,"44.675072,8.466609955",1740-9-01,1740-10-01,1740.0,9.0,NaN,1740.0,10.0,NaN,NaN,22
1615.0,Enley,NaN,NaN,Male,Aix,"45.68803,5.914619923",1715-11-01,1715-11-01,1715.0,11.0,NaN,1715.0,11.0,NaN,NaN,1
3533.0,Francis Naylor,NaN,NaN,Male,Aix,"45.68803,5.914619923",1738-2-01,1738-2-01,1738.0,2.0,NaN,1738.0,2.0,NaN,NaN,1
1807.0,"Elizabeth (Hervey), Lady Foster",1758.0,1824.0,Female,Aix,"45.68803,5.914619923",1792-2-01,1792-2-01,1792.0,2.0,NaN,1792.0,2.0,NaN,NaN,18
1375.0,"Georgiana (Spencer), Duchess of Devonshire",1757.0,1806.0,Female,Aix,"45.68803,5.914619923",1792-2-01,1792-2-01,1792.0,2.0,NaN,1792.0,2.0,NaN,NaN,1
130.0,Hon. Henry Arundell,1694.0,1746.0,Male,Aix,"45.68803,5.914619923",1715-11-01,1715-11-01,1715.0,11.0,NaN,1715.0,11.0,NaN,NaN,1
4598.1,Mr Strode,NaN,NaN,Male,Aix,"45.68803,5.914619923",1779-10-01,1779-10-01,1779.0,10.0,NaN,1779.0,10.0,NaN,NaN,1
4598.2,Mrs G. Strode,NaN,NaN,Female,Aix,"45.68803,5.914619923",1779-10-01,1779-10-01,1779.0,10.0,NaN,1779.0,10.0,NaN,NaN,1
4652.2,Mrs Swinburn,NaN,NaN,Female,Aix,"45.68803,5.914619923",1766-1-01,1766-12-01,1766.0,1.0,NaN,1766.0,12.0,NaN,NaN,0
4652.1,Mr Swinburn,NaN,NaN,Male,Aix,"45.68803,5.914619923",1766-1-01,1766-12-01,1766.0,1.0,NaN,1766.0,12.0,NaN,NaN,0
3370.0,Hon. John Molesworth,1679.0,1726.0,Male,Aix in Savoy,"45.68803,5.914619923",1724-8-01,1724-8-01,1724.0,8.0,NaN,1724.0,8.0,NaN,NaN,7
329.0,"Sir George Howland, 7th Bt. Beaumont",1753.0,1827.0,Male,Alban Hills,"41.73,12.69999981",1782-10-01,1782-11-01,1782.0,10.0,NaN,1782.0,11.0,NaN,c.; c.,6
329.1,Margaret Willes,1755.0,1829.0,Female,Alban Hills,"41.73,12.69999981",1782-10-01,1782-11-01,1782.0,10.0,NaN,1782.0,11.0,NaN,c.; c.,6
2041.0,Gen. William Graeme,NaN,1767.0,Male,Albania,"41.33,19.82",1757-7-01,1758-9-01,1757.0,7.0,NaN,1758.0,9.0,NaN,NaN,1
440.0,Thomas Blackburne,1720.0,1768.0,Male,Albano,"41.728534,12.658854",1748-01-01,1749-01-01,1748.0,NaN,NaN,1749.0,NaN,NaN,NaN,3
23.1,Donald (Servant of Robert Adam),NaN,NaN,Male,Albano,"41.728534,12.658854",1756-10-01,1757-10-01,1756.0,10.0,NaN,1757.0,10.0,NaN,NaN,25
2688.0,Jerningham,NaN,1774.0,Male,Albano,"41.728534,12.658854",1730-4-01,1730-10-01,1730.0,4.0,NaN,1730.0,10.0,NaN,NaN,3
3886.0,George Pitt,1721.0,1803.0,Male,Albano,"41.728534,12.658854",1742-5-01,1742-5-01,1742.0,5.0,NaN,1742.0,5.0,NaN,NaN,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752.0,Charles Sloane Cadogan,NaN,NaN,Male,eastern Europe,"47.499722,19.05508041",1785-01-01,1785-01-01,1785.0,NaN,NaN,1785.0,NaN,NaN,NaN,4
1182.0,John Craufurd,1742.0,1814.0,Male,near Venice,"45.35753,11.78725",1770-6-01,1770-6-01,1770.0,6.0,NaN,1770.0,6.0,NaN,NaN,2
3436.0,Colin Morison,1732.0,1810.0,Male,northern Italy,"45.43972222,12.33194444",1771-8-01,1771-11-01,1771.0,8.0,NaN,1771.0,11.0,NaN,NaN,4
4605.0,Hon. Charles Stuart,1753.0,1801.0,Male,northern Italy,"45.43972222,12.33194444",1785-1-01,1785-12-01,1785.0,1.0,NaN,1785.0,12.0,NaN,NaN,19
4970.0,George Augustus Wallis,1761.0,1847.0,Male,northern Italy,"45.43972222,12.33194444",1818-01-01,1847-01-01,1818.0,NaN,NaN,1847.0,NaN,NaN,[,17
4664.0,John Symonds,1730.0,1807.0,Male,northern Italy,"45.43972222,12.33194444",1771-1-01,1771-7-01,1771.0,1.0,NaN,1771.0,7.0,NaN,NaN,19
1354.0,Solomon Delane,1727.0,1812.0,Male,nr. Augsburg,"48.366667,10.9",1781-2-01,1781-2-01,1781.0,2.0,NaN,1781.0,2.0,NaN,NaN,9
4094.0,Stephen Riou,1720.0,1780.0,Male,south of France,"44.793396,3.279489",1751-1-01,1751-2-01,1751.0,1.0,NaN,1751.0,2.0,NaN,NaN,3
138.0,St George Ashe,1698.0,1721.0,Male,southern Italy,"40.35481,18.17244",1717-5-01,1717-6-01,1717.0,5.0,NaN,1717.0,6.0,NaN,NaN,4
378.0,George Berkeley,1685.0,1753.0,Male,southern Italy,"40.35481,18.17244",1717-5-01,1717-6-01,1717.0,5.0,NaN,1717.0,6.0,NaN,NaN,12
4690.0,Nathaniel Taubman,NaN,1720.0,Male,southern Italy,"40.35481,18.17244",1708-01-01,1709-01-01,1708.0,NaN,NaN,1709.0,NaN,NaN,c.,0
1408.3,Daughter of Lewis Disney-Ffytche,NaN,NaN,Female,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
4655.5,First Servant of Henry Swinburne,NaN,NaN,Unknown,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,12
4656.0,Henry Joseph Swinburne,1772.0,1800.0,Male,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,9
4655.0,Henry Swinburne,1743.0,1803.0,Male,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,12
1408.0,Lewis Disney-Ffytche,1738.0,1822.0,Male,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
1408.1,Elizabeth Ffytche,NaN,NaN,Female,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
1408.2,Sophia Disney-Ffytche,NaN,NaN,Female,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
1891.0,Joseph Michael Gandy,1771.0,1843.0,Male,the Abruzzi,"42.04945,13.92578",1795-11-01,1795-12-01,1795.0,11.0,NaN,1795.0,12.0,NaN,NaN,11
4655.6,Second Servant of Henry Swinburne,NaN,NaN,Unknown,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,12
1914.0,"Sir Thomas, 8th Bt. Gascoigne",1745.0,1810.0,Male,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,20
5081.0,Richard Westmacott,1775.0,1856.0,Male,the Abruzzi,"42.04945,13.92578",1794-10-01,1794-12-01,1794.0,10.0,NaN,1794.0,12.0,NaN,NaN,4
1408.4,Wife of Rev. John Disney,NaN,NaN,Female,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
1409.0,Disney-Roebuck,NaN,NaN,Male,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,0
3771.0,Gen. James Pattison,1723.0,1805.0,Male,the Veneto,"45.67146,11.92755",1768-11-22,1770-9-01,1768.0,11.0,22.0,1770.0,9.0,NaN,NaN,3
3784.0,Edward Lovett Pearce,1699.0,1733.0,Male,the Veneto,"45.67146,11.92755",1724-4-01,1724-5-01,1724.0,4.0,NaN,1724.0,5.0,NaN,NaN,3
3552.0,"Sir Roger, 5th Bt. Newdigate",1719.0,1806.0,Male,the Veneto,"45.67146,11.92755",1740-5-01,1740-7-01,1740.0,5.0,NaN,1740.0,7.0,NaN,NaN,6
3771.1,Wife of Gen. James Pattison,NaN,NaN,Female,the Veneto,"45.67146,11.92755",1768-11-22,1770-9-01,1768.0,11.0,22.0,1770.0,9.0,NaN,NaN,3
4350.0,"Charles Talbot, 1st Duke of Shrewsbury",1660.0,1718.0,Male,the Veneto,"45.67146,11.92755",1705-5-3,1705-7-5,1705.0,5.0,3.0,1705.0,7.0,5.0,NaN,16
103.1,Mrs Arbuthnot,NaN,NaN,Female,NaN,NaN,1751-01-01,1752-01-01,1751.0,NaN,NaN,1752.0,NaN,NaN,NaN,0

In [130]:
#sort by travel place, and WITHIN a given place, sort those people by travel startDate.
#This is an easy way to get a sense of which people were in the same 
#city at the same time.
travelers_itineraries_all.sort_values( ['travelPlace','startDate'] )

,travelerNames,birthDate,deathDate,gender,travelPlace,coordinates,startDate,endDate,startYear,startMonth,startDay,endYear,endMonth,endDay,markers,travelIndex
entryID,,,,,,,,,,,,,,,,
1909.0,David Garrick,NaN,NaN,Male,Abano,"45.360458,11.78979015",1764-6-01,1764-8-01,1764.0,6.0,NaN,1764.0,8.0,NaN,NaN,14
1909.1,Eva Maria Veigel,1724.0,1822.0,Female,Abano,"45.360458,11.78979015",1764-6-01,1764-8-01,1764.0,6.0,NaN,1764.0,8.0,NaN,NaN,14
2540.0,Edward Howard,1744.0,1767.0,Male,Abano,"45.360458,11.78979015",1764-6-01,1764-6-01,1764.0,6.0,NaN,1764.0,6.0,NaN,NaN,3
2834.0,Langdale,NaN,NaN,Male,Abano,"45.360458,11.78979015",1764-6-01,1764-6-01,1764.0,6.0,NaN,1764.0,6.0,NaN,NaN,3
2488.0,Patrick Home,1728.0,1808.0,Male,Abano,"45.360458,11.78979015",1773-6-01,1773-7-01,1773.0,6.0,NaN,1773.0,7.0,NaN,NaN,17
2488.1,Jane Graham,NaN,NaN,Female,Abano,"45.360458,11.78979015",1773-6-01,1773-7-01,1773.0,6.0,NaN,1773.0,7.0,NaN,NaN,15
3883.0,Anne Pitt,1712.0,1781.0,Female,Abano,"45.360458,11.78979015",1774-5-01,1774-5-01,1774.0,5.0,NaN,1774.0,5.0,NaN,NaN,2
3883.0,Anne Pitt,1712.0,1781.0,Female,Abano,"45.360458,11.78979015",1775-5-01,1775-9-01,1775.0,5.0,NaN,1775.0,9.0,NaN,NaN,7
2851.0,John La Touche,1772.0,1838.0,Male,Abano,"45.360458,11.78979015",1794-9-01,1795-1-01,1794.0,9.0,NaN,1795.0,1.0,NaN,c.; /,8
1539.0,John Dyer,1699.0,1757.0,Male,Aberglasney,"51.8806,-4.06223011",1725-9-01,1725-11-01,1725.0,9.0,NaN,1725.0,11.0,NaN,NaN,7
5119.0,John Wilkes,1725.0,1797.0,Male,Acquapendente,"42.743889,11.864444",1765-2-12,1765-2-12,1765.0,2.0,12.0,1765.0,2.0,12.0,NaN,8
2956.0,"Henry Fiennes Clinton, 9th Earl of Lincoln",1720.0,1794.0,Male,Acqui,"44.675072,8.466609955",1740-9-01,1740-10-01,1740.0,9.0,NaN,1740.0,10.0,NaN,NaN,2
4469.0,Joseph Spence,1699.0,1768.0,Male,Acqui,"44.675072,8.466609955",1740-9-01,1740-10-01,1740.0,9.0,NaN,1740.0,10.0,NaN,NaN,22
130.0,Hon. Henry Arundell,1694.0,1746.0,Male,Aix,"45.68803,5.914619923",1715-11-01,1715-11-01,1715.0,11.0,NaN,1715.0,11.0,NaN,NaN,1
1615.0,Enley,NaN,NaN,Male,Aix,"45.68803,5.914619923",1715-11-01,1715-11-01,1715.0,11.0,NaN,1715.0,11.0,NaN,NaN,1
3533.0,Francis Naylor,NaN,NaN,Male,Aix,"45.68803,5.914619923",1738-2-01,1738-2-01,1738.0,2.0,NaN,1738.0,2.0,NaN,NaN,1
4652.1,Mr Swinburn,NaN,NaN,Male,Aix,"45.68803,5.914619923",1766-1-01,1766-12-01,1766.0,1.0,NaN,1766.0,12.0,NaN,NaN,0
4652.2,Mrs Swinburn,NaN,NaN,Female,Aix,"45.68803,5.914619923",1766-1-01,1766-12-01,1766.0,1.0,NaN,1766.0,12.0,NaN,NaN,0
4598.1,Mr Strode,NaN,NaN,Male,Aix,"45.68803,5.914619923",1779-10-01,1779-10-01,1779.0,10.0,NaN,1779.0,10.0,NaN,NaN,1
4598.2,Mrs G. Strode,NaN,NaN,Female,Aix,"45.68803,5.914619923",1779-10-01,1779-10-01,1779.0,10.0,NaN,1779.0,10.0,NaN,NaN,1
1375.0,"Georgiana (Spencer), Duchess of Devonshire",1757.0,1806.0,Female,Aix,"45.68803,5.914619923",1792-2-01,1792-2-01,1792.0,2.0,NaN,1792.0,2.0,NaN,NaN,1
1807.0,"Elizabeth (Hervey), Lady Foster",1758.0,1824.0,Female,Aix,"45.68803,5.914619923",1792-2-01,1792-2-01,1792.0,2.0,NaN,1792.0,2.0,NaN,NaN,18
3370.0,Hon. John Molesworth,1679.0,1726.0,Male,Aix in Savoy,"45.68803,5.914619923",1724-8-01,1724-8-01,1724.0,8.0,NaN,1724.0,8.0,NaN,NaN,7
329.0,"Sir George Howland, 7th Bt. Beaumont",1753.0,1827.0,Male,Alban Hills,"41.73,12.69999981",1782-10-01,1782-11-01,1782.0,10.0,NaN,1782.0,11.0,NaN,c.; c.,6
329.1,Margaret Willes,1755.0,1829.0,Female,Alban Hills,"41.73,12.69999981",1782-10-01,1782-11-01,1782.0,10.0,NaN,1782.0,11.0,NaN,c.; c.,6
2041.0,Gen. William Graeme,NaN,1767.0,Male,Albania,"41.33,19.82",1757-7-01,1758-9-01,1757.0,7.0,NaN,1758.0,9.0,NaN,NaN,1
2648.0,James Francis Edward Stuart,1688.0,1766.0,Male,Albano,"41.728534,12.658854",1720-01-01,1766-01-01,1720.0,NaN,NaN,1766.0,NaN,NaN,NaN,5
2648.1,Princess Clementina Sobieska,NaN,1735.0,Female,Albano,"41.728534,12.658854",1720-01-01,1735-01-01,1720.0,NaN,NaN,1735.0,NaN,NaN,NaN,1
3837.0,Peterson,NaN,NaN,Male,Albano,"41.728534,12.658854",1723-01-01,1723-01-01,1723.0,NaN,NaN,1723.0,NaN,NaN,NaN,2
687.0,"Richard Bulkeley, 5th Viscount Bulkeley",1707.0,1739.0,Male,Albano,"41.728534,12.658854",1726-5-01,1726-6-01,1726.0,5.0,NaN,1726.0,6.0,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752.0,Charles Sloane Cadogan,NaN,NaN,Male,eastern Europe,"47.499722,19.05508041",1785-01-01,1785-01-01,1785.0,NaN,NaN,1785.0,NaN,NaN,NaN,4
1182.0,John Craufurd,1742.0,1814.0,Male,near Venice,"45.35753,11.78725",1770-6-01,1770-6-01,1770.0,6.0,NaN,1770.0,6.0,NaN,NaN,2
4664.0,John Symonds,1730.0,1807.0,Male,northern Italy,"45.43972222,12.33194444",1771-1-01,1771-7-01,1771.0,1.0,NaN,1771.0,7.0,NaN,NaN,19
3436.0,Colin Morison,1732.0,1810.0,Male,northern Italy,"45.43972222,12.33194444",1771-8-01,1771-11-01,1771.0,8.0,NaN,1771.0,11.0,NaN,NaN,4
4605.0,Hon. Charles Stuart,1753.0,1801.0,Male,northern Italy,"45.43972222,12.33194444",1785-1-01,1785-12-01,1785.0,1.0,NaN,1785.0,12.0,NaN,NaN,19
4970.0,George Augustus Wallis,1761.0,1847.0,Male,northern Italy,"45.43972222,12.33194444",1818-01-01,1847-01-01,1818.0,NaN,NaN,1847.0,NaN,NaN,[,17
1354.0,Solomon Delane,1727.0,1812.0,Male,nr. Augsburg,"48.366667,10.9",1781-2-01,1781-2-01,1781.0,2.0,NaN,1781.0,2.0,NaN,NaN,9
4094.0,Stephen Riou,1720.0,1780.0,Male,south of France,"44.793396,3.279489",1751-1-01,1751-2-01,1751.0,1.0,NaN,1751.0,2.0,NaN,NaN,3
4690.0,Nathaniel Taubman,NaN,1720.0,Male,southern Italy,"40.35481,18.17244",1708-01-01,1709-01-01,1708.0,NaN,NaN,1709.0,NaN,NaN,c.,0
138.0,St George Ashe,1698.0,1721.0,Male,southern Italy,"40.35481,18.17244",1717-5-01,1717-6-01,1717.0,5.0,NaN,1717.0,6.0,NaN,NaN,4
378.0,George Berkeley,1685.0,1753.0,Male,southern Italy,"40.35481,18.17244",1717-5-01,1717-6-01,1717.0,5.0,NaN,1717.0,6.0,NaN,NaN,12
1914.0,"Sir Thomas, 8th Bt. Gascoigne",1745.0,1810.0,Male,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,20
4655.0,Henry Swinburne,1743.0,1803.0,Male,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,12
4655.5,First Servant of Henry Swinburne,NaN,NaN,Unknown,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,12
4655.6,Second Servant of Henry Swinburne,NaN,NaN,Unknown,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,12
4656.0,Henry Joseph Swinburne,1772.0,1800.0,Male,the Abruzzi,"42.04945,13.92578",1779-3-6,1779-3-6,1779.0,3.0,6.0,1779.0,3.0,6.0,-,9
5081.0,Richard Westmacott,1775.0,1856.0,Male,the Abruzzi,"42.04945,13.92578",1794-10-01,1794-12-01,1794.0,10.0,NaN,1794.0,12.0,NaN,NaN,4
1408.0,Lewis Disney-Ffytche,1738.0,1822.0,Male,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
1408.1,Elizabeth Ffytche,NaN,NaN,Female,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
1408.2,Sophia Disney-Ffytche,NaN,NaN,Female,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
1408.3,Daughter of Lewis Disney-Ffytche,NaN,NaN,Female,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
1408.4,Wife of Rev. John Disney,NaN,NaN,Female,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,3
1409.0,Disney-Roebuck,NaN,NaN,Male,the Abruzzi,"42.04945,13.92578",1795-11-01,1796-01-01,1795.0,11.0,NaN,1796.0,NaN,NaN,?; early,0
1891.0,Joseph Michael Gandy,1771.0,1843.0,Male,the Abruzzi,"42.04945,13.92578",1795-11-01,1795-12-01,1795.0,11.0,NaN,1795.0,12.0,NaN,NaN,11
4350.0,"Charles Talbot, 1st Duke of Shrewsbury",1660.0,1718.0,Male,the Veneto,"45.67146,11.92755",1705-5-3,1705-7-5,1705.0,5.0,3.0,1705.0,7.0,5.0,NaN,16
3784.0,Edward Lovett Pearce,1699.0,1733.0,Male,the Veneto,"45.67146,11.92755",1724-4-01,1724-5-01,1724.0,4.0,NaN,1724.0,5.0,NaN,NaN,3
3552.0,"Sir Roger, 5th Bt. Newdigate",1719.0,1806.0,Male,the Veneto,"45.67146,11.92755",1740-5-01,1740-7-01,1740.0,5.0,NaN,1740.0,7.0,NaN,NaN,6
3771.0,Gen. James Pattison,1723.0,1805.0,Male,the Veneto,"45.67146,11.92755",1768-11-22,1770-9-01,1768.0,11.0,22.0,1770.0,9.0,NaN,NaN,3
3771.1,Wife of Gen. James Pattison,NaN,NaN,Female,the Veneto,"45.67146,11.92755",1768-11-22,1770-9-01,1768.0,11.0,22.0,1770.0,9.0,NaN,NaN,3
103.1,Mrs Arbuthnot,NaN,NaN,Female,NaN,NaN,1751-01-01,1752-01-01,1751.0,NaN,NaN,1752.0,NaN,NaN,NaN,0

## Your Assignment

Spend at least 30 minutes using Pandas to do something relevant to your midterm project in this notebook. You can build off of and recombine any examples above, and/or consult the resources listed at the top of this notebook. 

Create new cells below by clicking the plus sign on the Jupyter notebook menu above, and do your work there. Don't worry about demonstrating programming knowledge or anything like that. What you do can be very basic. Just use this time to do something that is useful for your midterm project. If you are new to programming, even just doing one slightly different thing based on the code examples above is a good accomplishment. If after attempting something and consulting the resources above, you aren't able to get it to work,  briefly describe what it is that you wanted to do, and keep your code attempts in the cells below.