# Questions from DH_assignment4

# Python questions

## 1. Python question: on "control flow" (while loops, for loops, if/elif/else)

### While loops

The code "within the scope" of a while loop (i.e. all the code that is indented inward at least once, relative to the ``while`` keyword) gets executed ("run") repeatedly as long as while loops's condition is true. Examples of while loop conditions in the cells below are:

``while i <= 10:  #this means "as long as i is less than or equal to 10"
 while i < 2:    #this means "as long as i is strictly less than 2"``

In [6]:
#print the first ten positive integers
#the two lines of code within the while loop's scope will be executed exactly ten times
i = 1
while i <= 10: #"as long as the variable i is less than or equal to 10, execute the code below"
    print(i)
    i += 1  #increment i by one -- "i += 1" is shorthand for "i = i + 1"

#
print("the value of i is now " + str(i)) #i ends up being 11, which is why the while loop terminates

1
2
3
4
5
6
7
8
9
10
the value of i is now 11

In [ ]:
#we can nest as many while loops within one another as we want.

#before executing this cell, try to think what the output of the code below will be
#(a good way to do this is to write it out on paper, keeping track of how the variables
#i and j are updated

i = 0
while i < 2:
    j = 0
    while j < 3:
        print(i, j)
        j += 1
    i += 1

In [7]:
#an example from Automate the Boring stuff
i = 0
while i < 5:
    print("Jimmy Five Times (" + str(i) + ")") 
    i = i + 1

Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

### For loops

In [13]:
#the code in this cell will have same result as while loop above

#create a list of integers and name it something informative, for example "iterations"
iterations = [0,1,2,3,4] 

#for ITEM in LIST is the syntax for iterating through each item in a list
for i in iterations: 
    print("Jimmy Five Times (" + str(i) + ")")

Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

In [15]:
#the standard/idiomatic way to do the above, using the range() function
#range(5) returns something similar to the list [0,1,2,3,4] above
for i in range(5):
    print("Jimmy Five Times (" + str(i) + ")")

Jimmy Five Times (0)
Jimmy Five Times (1)
Jimmy Five Times (2)
Jimmy Five Times (3)
Jimmy Five Times (4)

### Conditionals
`if`, `elif` (short for "else if"), `else`

In [16]:
#to illustrate what if, elif, and else do, we will iterate through a (made up) corrupted
#sequence of DNA that has some "noise" in it (junk symbols--imagine this as resulting from
# random errors in measurement). We will count
#how many times the DNA base symbols A, C, T, G appear, and 
#also count how many junk symbols appear (every symbol that is not A, C, T, or G)

#initialize a string variable to a DNA sequence with some random corruptions/noise
corrupted_DNA_seq = "ACAAGATGCq3CATTGiiip2TCCCCCGfwGCCTcCCTGzCTGCTGCTweGCTCTCCGGGGCqCACGGsCCAxCCGCTGCCCTGCC"


#initialize a dict(ionary) of five counters 
#the keys of the dict are the symbols
#the value for each key is the number of times the symbol appears
counter_dict = {'A':0, 
               'C':0,
               'T':0,
               'G':0,
               'junk':0}


#use a loop to count base symbols 'A' 'C' 'T' 'G', and junk symbols
for character in corrupted_DNA_seq: #note we are iterating through the characters in a string--strings are like lists!
    if character == 'A': #note the difference between "=" (variable assignment operator) and "==" (test if two expressions are equal)
        counter_dict['A'] += 1 #shorthand for incrementing a variable by 1. Same as counter_dict['A'] = counter_dict['A'] + 1
    
    elif character == 'C':  #this elif check will get executed only if the current character is not 'A' 
        counter_dict['C'] += 1
    
    elif character == 'T': #this elif check will get executed only if the current character is not 'A' or 'C'
        counter_dict['T'] += 1
    
    elif character == 'G': #this elif check will get executed only if the current character is not 'A', 'C', or 'T'
        counter_dict['G'] += 1
    
    else: #this elif check will get executed only if the current character was not 'A', 'C','T', or 'G'--ie it is a junk symbol
        counter_dict['junk'] += 1

In [11]:
#lets see the results
counter_dict

{'A': 7, 'C': 32, 'T': 13, 'G': 18, 'junk': 16}

## 2. Python question: what does % do in a string? 
`%` in a string is called the "string formatting operator". The point of the `%` operator is to be able to plug the value of a variable into a certain place of a string you want to print. Within the string, the `%` has to be followed by a letter that indicates the type of the variable you want to plug in. `%d` means "I'm going to plug in a number here". `%s` means "I'm going to plug in a string here".

Don't worry about understanding this syntax very thoroughly, which is a legacy of the C programming language. In python there are more intuitive ways to do this (see the last cell below).

In [20]:
wins = 5
losses = 6
ties = 2
print('%d Wins, %d Losses, %d Ties' % (wins, losses, ties))

5 Wins, 6 Losses, 2 Ties

In [21]:
#if we change the values of the variables, this will be reflected in the string we print out
wins = 0
losses = 0
ties = 0
print('%d Wins, %d Losses, %d Ties' % (wins, losses, ties))

0 Wins, 0 Losses, 0 Ties

In [22]:
#an example plugging in string variables
dept1 = "History"
dept2 = "English" #error -- should be English
dept3 = "Computer Science"
print('This class combines ideas from three departments: %s, %s, and %s' % (dept1, dept2, dept3))

This class combines ideas from three departments: History, English, and Computer Science

In [27]:
#an easier way to do the above, using the string method .format(). The variables get plugged in to where the brackets
#are, in order
print('{} Wins, {} Losses, {} Ties'.format(wins, losses, ties))
print('This class combines ideas from three departments: {}, {}, {}'.format(dept1, dept2, dept3))

#with .format() we can plug in different data types without having to worry about specifying them within
#the string
print('Plug in a number here: {}. And plug in a string here: {}'.format(5, "hello!"))

0 Wins, 0 Losses, 0 Ties
This class combines ideas from three departments: History, English, Computer Science
Plug in a number here: 5. And plug in a string here: hello!

# Pandas questions
First we do the usual setup work:
1. run our import statements
2. make filepath variables
3. load the GTE .tsv files into pandas dataframes

In [61]:
#step 1: import the packages we need 
%matplotlib inline
import pandas as pd
import os

In [31]:
#step 2: make filepath variables
#assumes the three GTE .tsv files are in same place they were for DH_assignment4 (see there for details)
TRAVELERS_FP = os.path.join("GTE_exports", "all", "Travelers_all.tsv")
TRAVELERS_ITINERARIES_FP = os.path.join("GTE_exports", "all", "Travelers_Itineraries_all.tsv")
TRAVELERS_LIFE_EVENTS_FP = os.path.join("GTE_exports", "all", "Travelers_Life_Events_all.tsv")

In [51]:
#step 3: load data
travelers_all = pd.read_csv(
    TRAVELERS_FP, 
    sep="\t", 
    index_col="index")

travelers_itineraries_all = pd.read_csv(
    TRAVELERS_ITINERARIES_FP, 
    sep="\t", 
    index_col="entryID")


travelers_life_events_all = pd.read_csv(
    TRAVELERS_LIFE_EVENTS_FP, 
    sep="\t", 
    index_col="entryID")

## 3. Pandas question: how can I calculate duration of time spent in Florence for all travelers who went there

In [52]:
#get the subset of itinerary rows corresponding to a trip to florence
florence_travelers = travelers_itineraries_all[ travelers_itineraries_all['travelPlace'] == 'Florence' ]

In [53]:
#inspect it to make sure what we did seems right
florence_travelers.head(20)

,travelerNames,birthDate,deathDate,gender,travelPlace,coordinates,startDate,endDate,startYear,startMonth,startDay,endYear,endMonth,endDay,markers,travelIndex
entryID,,,,,,,,,,,,,,,,
0.0,Charles Abbot,1757.0,1829.0,Male,Florence,"43.77138889,11.25416667",1788-9-15,1788-9-18,1788.0,9.0,15.0,1788.0,9.0,18.0,NaN,5
0.0,Charles Abbot,1757.0,1829.0,Male,Florence,"43.77138889,11.25416667",1788-10-12,1788-10-12,1788.0,10.0,12.0,1788.0,10.0,12.0,NaN,12
1.0,John Farr Abbot,1756.0,1794.0,Male,Florence,"43.77138889,11.25416667",1793-10-25,1793-10-29,1793.0,10.0,25.0,1793.0,10.0,29.0,NaN,8
1.0,John Farr Abbot,1756.0,1794.0,Male,Florence,"43.77138889,11.25416667",1794-3-8,1794-3-20,1794.0,3.0,8.0,1794.0,3.0,20.0,NaN,16
1.1,Mary Pearce,1762.0,1793.0,Female,Florence,"43.77138889,11.25416667",1793-10-25,1793-10-29,1793.0,10.0,25.0,1793.0,10.0,29.0,NaN,8
9.0,Aberdeen,NaN,NaN,Male,Florence,"43.77138889,11.25416667",1769-11-18,1769-11-25,1769.0,11.0,18.0,1769.0,11.0,25.0,by,0
12.0,"Willoughby Bertie, 4th Earl of Abingdon",1740.0,1799.0,Male,Florence,"43.77138889,11.25416667",1765-5-26,1765-5-26,1765.0,5.0,26.0,1765.0,5.0,26.0,by,5
12.0,"Willoughby Bertie, 4th Earl of Abingdon",1740.0,1799.0,Male,Florence,"43.77138889,11.25416667",1770-01-01,1770-01-01,1770.0,NaN,NaN,1770.0,NaN,NaN,NaN,7
16.0,John Dyke Acland,1746.0,1778.0,Male,Florence,"43.77138889,11.25416667",1767-2-5,1767-2-5,1767.0,2.0,5.0,1767.0,2.0,5.0,by,1
17.0,John Acton,1703.0,1766.0,Male,Florence,"43.77138889,11.25416667",1747-01-01,1766-01-01,1747.0,NaN,NaN,1766.0,NaN,NaN,NaN,0
18.0,John Francis Edward Acton,1736.0,1811.0,Male,Florence,"43.77138889,11.25416667",1755-01-01,1755-01-01,1755.0,NaN,NaN,1755.0,NaN,NaN,NaN,0
21.0,James Adam,1732.0,1794.0,Male,Florence,"43.77138889,11.25416667",1760-11-23,1761-2-20,1760.0,11.0,23.0,1761.0,2.0,20.0,NaN,9
21.0,James Adam,1732.0,1794.0,Male,Florence,"43.77138889,11.25416667",1763-5-01,1763-12-01,1763.0,5.0,NaN,1763.0,12.0,NaN,NaN,20
23.0,Robert Adam,1728.0,1792.0,Male,Florence,"43.77138889,11.25416667",1755-1-30,1755-2-20,1755.0,1.0,30.0,1755.0,2.0,20.0,NaN,4
23.0,Robert Adam,1728.0,1792.0,Male,Florence,"43.77138889,11.25416667",1757-5-01,1757-5-01,1757.0,5.0,NaN,1757.0,5.0,NaN,NaN,27
23.1,Donald (Servant of Robert Adam),NaN,NaN,Male,Florence,"43.77138889,11.25416667",1755-1-30,1755-2-20,1755.0,1.0,30.0,1755.0,2.0,20.0,NaN,4
23.1,Donald (Servant of Robert Adam),NaN,NaN,Male,Florence,"43.77138889,11.25416667",1757-5-01,1757-5-01,1757.0,5.0,NaN,1757.0,5.0,NaN,NaN,27
28.0,Andrew Adamson,NaN,NaN,Male,Florence,"43.77138889,11.25416667",1775-4-01,1775-4-01,1775.0,4.0,NaN,1775.0,4.0,NaN,NaN,1
29.0,Joseph Addison,1672.0,1719.0,Male,Florence,"43.77138889,11.25416667",1701-11-6,1701-11-12,1701.0,11.0,6.0,1701.0,11.0,12.0,NaN,19
31.0,J. Affleck,NaN,NaN,Male,Florence,"43.77138889,11.25416667",1776-12-14,1776-12-14,1776.0,12.0,14.0,1776.0,12.0,14.0,NaN,0

In [54]:
#pd.to_datetime is a really cool function that converts format to "datetime" objects that you can do math on (e.g.
#subtract the date 1757-5-01 from the later date 1759-4-9, to get the number of days between these two dates.
#So, you don't have to worry about different months having different numbers of days, or leap years
start_dates = pd.to_datetime(florence_travelers['startDate'])
end_dates = pd.to_datetime(florence_travelers['endDate'])

In [57]:
florence_trip_durations = end_dates - start_dates

In [59]:
#note this data would need to be cleaned and inspected (suspicious travel durations include 0 and 365 days, and
#extremely long durations)
florence_trip_durations.head(50)

entryID
0.0        3 days
0.0        0 days
1.0        4 days
1.0       12 days
1.1        4 days
9.0        7 days
12.0       0 days
12.0       0 days
16.0       0 days
17.0    6940 days
18.0       0 days
21.0      89 days
21.0     214 days
23.0      21 days
23.0       0 days
23.1      21 days
23.1       0 days
28.0       0 days
29.0       6 days
31.0       0 days
33.0       0 days
36.0     122 days
36.0       0 days
40.0    1826 days
43.0     426 days
48.0       0 days
50.0       0 days
57.0     181 days
65.0     334 days
68.0       0 days
69.0     212 days
72.0       0 days
72.0      31 days
73.0      38 days
78.0       0 days
82.0       0 days
84.0       0 days
87.0       0 days
87.1       0 days
91.0     214 days
92.0       0 days
97.0      16 days
100.0      0 days
100.0     61 days
103.0    365 days
103.1      0 days
103.2      0 days
105.0     30 days
109.0      0 days
110.0      0 days
dtype: timedelta64[ns]

In [67]:
#alternatively, you could add start_dt, end_dt, and trip_duration columns to the itineraries dataframe itself
#for now don't worry if you get a warning from Jupyter
florence_travelers['start_dt'] = start_dates
florence_travelers['died_dt'] = end_dates
florence_travelers['trip_duration'] = end_dates - start_dates

#see righmost three columns
florence_travelers.head(20)

/Users/nicholasgardner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/nicholasgardner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/nicholasgardner/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,travelerNames,birthDate,deathDate,gender,travelPlace,coordinates,startDate,endDate,startYear,startMonth,startDay,endYear,endMonth,endDay,markers,travelIndex,start_dt,died_dt,trip_duration
entryID,,,,,,,,,,,,,,,,,,,
0.0,Charles Abbot,1757.0,1829.0,Male,Florence,"43.77138889,11.25416667",1788-9-15,1788-9-18,1788.0,9.0,15.0,1788.0,9.0,18.0,NaN,5,1788-09-15,1788-09-18,3 days
0.0,Charles Abbot,1757.0,1829.0,Male,Florence,"43.77138889,11.25416667",1788-10-12,1788-10-12,1788.0,10.0,12.0,1788.0,10.0,12.0,NaN,12,1788-10-12,1788-10-12,0 days
1.0,John Farr Abbot,1756.0,1794.0,Male,Florence,"43.77138889,11.25416667",1793-10-25,1793-10-29,1793.0,10.0,25.0,1793.0,10.0,29.0,NaN,8,1793-10-25,1793-10-29,4 days
1.0,John Farr Abbot,1756.0,1794.0,Male,Florence,"43.77138889,11.25416667",1794-3-8,1794-3-20,1794.0,3.0,8.0,1794.0,3.0,20.0,NaN,16,1794-03-08,1794-03-20,12 days
1.1,Mary Pearce,1762.0,1793.0,Female,Florence,"43.77138889,11.25416667",1793-10-25,1793-10-29,1793.0,10.0,25.0,1793.0,10.0,29.0,NaN,8,1793-10-25,1793-10-29,4 days
9.0,Aberdeen,NaN,NaN,Male,Florence,"43.77138889,11.25416667",1769-11-18,1769-11-25,1769.0,11.0,18.0,1769.0,11.0,25.0,by,0,1769-11-18,1769-11-25,7 days
12.0,"Willoughby Bertie, 4th Earl of Abingdon",1740.0,1799.0,Male,Florence,"43.77138889,11.25416667",1765-5-26,1765-5-26,1765.0,5.0,26.0,1765.0,5.0,26.0,by,5,1765-05-26,1765-05-26,0 days
12.0,"Willoughby Bertie, 4th Earl of Abingdon",1740.0,1799.0,Male,Florence,"43.77138889,11.25416667",1770-01-01,1770-01-01,1770.0,NaN,NaN,1770.0,NaN,NaN,NaN,7,1770-01-01,1770-01-01,0 days
16.0,John Dyke Acland,1746.0,1778.0,Male,Florence,"43.77138889,11.25416667",1767-2-5,1767-2-5,1767.0,2.0,5.0,1767.0,2.0,5.0,by,1,1767-02-05,1767-02-05,0 days
17.0,John Acton,1703.0,1766.0,Male,Florence,"43.77138889,11.25416667",1747-01-01,1766-01-01,1747.0,NaN,NaN,1766.0,NaN,NaN,NaN,0,1747-01-01,1766-01-01,6940 days
18.0,John Francis Edward Acton,1736.0,1811.0,Male,Florence,"43.77138889,11.25416667",1755-01-01,1755-01-01,1755.0,NaN,NaN,1755.0,NaN,NaN,NaN,0,1755-01-01,1755-01-01,0 days
21.0,James Adam,1732.0,1794.0,Male,Florence,"43.77138889,11.25416667",1760-11-23,1761-2-20,1760.0,11.0,23.0,1761.0,2.0,20.0,NaN,9,1760-11-23,1761-02-20,89 days
21.0,James Adam,1732.0,1794.0,Male,Florence,"43.77138889,11.25416667",1763-5-01,1763-12-01,1763.0,5.0,NaN,1763.0,12.0,NaN,NaN,20,1763-05-01,1763-12-01,214 days
23.0,Robert Adam,1728.0,1792.0,Male,Florence,"43.77138889,11.25416667",1755-1-30,1755-2-20,1755.0,1.0,30.0,1755.0,2.0,20.0,NaN,4,1755-01-30,1755-02-20,21 days
23.0,Robert Adam,1728.0,1792.0,Male,Florence,"43.77138889,11.25416667",1757-5-01,1757-5-01,1757.0,5.0,NaN,1757.0,5.0,NaN,NaN,27,1757-05-01,1757-05-01,0 days
23.1,Donald (Servant of Robert Adam),NaN,NaN,Male,Florence,"43.77138889,11.25416667",1755-1-30,1755-2-20,1755.0,1.0,30.0,1755.0,2.0,20.0,NaN,4,1755-01-30,1755-02-20,21 days
23.1,Donald (Servant of Robert Adam),NaN,NaN,Male,Florence,"43.77138889,11.25416667",1757-5-01,1757-5-01,1757.0,5.0,NaN,1757.0,5.0,NaN,NaN,27,1757-05-01,1757-05-01,0 days
28.0,Andrew Adamson,NaN,NaN,Male,Florence,"43.77138889,11.25416667",1775-4-01,1775-4-01,1775.0,4.0,NaN,1775.0,4.0,NaN,NaN,1,1775-04-01,1775-04-01,0 days
29.0,Joseph Addison,1672.0,1719.0,Male,Florence,"43.77138889,11.25416667",1701-11-6,1701-11-12,1701.0,11.0,6.0,1701.0,11.0,12.0,NaN,19,1701-11-06,1701-11-12,6 days
31.0,J. Affleck,NaN,NaN,Male,Florence,"43.77138889,11.25416667",1776-12-14,1776-12-14,1776.0,12.0,14.0,1776.0,12.0,14.0,NaN,0,1776-12-14,1776-12-14,0 days

## 4. Pandas question: how can I combine/cross reference data from multiple different .tsv files (e.g. travelerLifeEvents and travelerItinteraries). For example, how do I look at all and only the itineraries of tutors (or collectors)

In [84]:
#first get tutors and collectors from the life_events dataframe
tutor_occupations = {'tutor', 'traveling tutor'} #maybe more?
tutor_life_events = travelers_life_events_all[ travelers_life_events_all['eventsDetail2'].isin(tutor_occupations) ]

collector_life_events = travelers_life_events_all[ travelers_life_events_all['eventsDetail2'] == 'collector' ]

In [109]:
#now get the indexIDs of these people--since we used the indexIDs to labels the rows when we loaded the data,
#we do this as follows
collector_ids = set(collector_life_events.index.values) #convert to set filter out any duplicates, so we have one ID per person
tutor_ids = set(tutor_life_events.index.values)

#now convert to list because this is the data type that the .loc method of dataframes expects
collector_list = list(collector_ids)
tutor_list = list(tutor_ids)

In [112]:
tutor_itineraries = travelers_itineraries_all.loc[tutor_list]
tutor_itineraries.head(10)

,travelerNames,birthDate,deathDate,gender,travelPlace,coordinates,startDate,endDate,startYear,startMonth,startDay,endYear,endMonth,endDay,markers,travelIndex
entryID,,,,,,,,,,,,,,,,
481.0,A. Bolle,NaN,NaN,Male,England,"51.50722222,-0.1275",1766-7-01,1766-7-01,1766.0,7.0,NaN,1766.0,7.0,NaN,dep.,0
481.0,A. Bolle,NaN,NaN,Male,Naples,"40.840141,14.25226021",1766-11-11,1767-3-14,1766.0,11.0,11.0,1767.0,3.0,14.0,NaN,1
481.0,A. Bolle,NaN,NaN,Male,Rome,"41.89305556,12.48277778",1767-4-01,1767-6-7,1767.0,4.0,NaN,1767.0,6.0,7.0,NaN,2
481.0,A. Bolle,NaN,NaN,Male,Terni,"42.56666667,12.65",1767-6-01,1767-6-01,1767.0,6.0,NaN,1767.0,6.0,NaN,NaN,3
481.0,A. Bolle,NaN,NaN,Male,Florence,"43.77138889,11.25416667",1767-6-14,1767-9-01,1767.0,6.0,14.0,1767.0,9.0,NaN,NaN,4
481.0,A. Bolle,NaN,NaN,Male,Lucca,"43.84198,10.51531029",1767-9-01,1767-9-01,1767.0,9.0,NaN,1767.0,9.0,NaN,NaN,5
481.0,A. Bolle,NaN,NaN,Male,Leghorn,"43.55,10.31666667",1767-9-01,1767-9-01,1767.0,9.0,NaN,1767.0,9.0,NaN,NaN,6
481.0,A. Bolle,NaN,NaN,Male,Florence,"43.77138889,11.25416667",1767-10-3,1767-10-17,1767.0,10.0,3.0,1767.0,10.0,17.0,by,7
481.0,A. Bolle,NaN,NaN,Male,Turin,"45.06666667,7.7",1767-10-27,1767-12-15,1767.0,10.0,27.0,1767.0,12.0,15.0,NaN,8
481.0,A. Bolle,NaN,NaN,Male,Nice,"43.70313,7.26608",1767-12-01,1768-1-01,1767.0,12.0,NaN,1768.0,1.0,NaN,NaN,9

In [113]:
collector_itineraries = travelers_itineraries_all.loc[collector_list]
collector_itineraries.head(10)

,travelerNames,birthDate,deathDate,gender,travelPlace,coordinates,startDate,endDate,startYear,startMonth,startDay,endYear,endMonth,endDay,markers,travelIndex
entryID,,,,,,,,,,,,,,,,
2691.0,Charles Jervas,1675.0,1739.0,Male,London,"51.50853,-0.12574",1699-1-01,1699-12-01,1699.0,1.0,NaN,1699.0,12.0,NaN,NaN,0
2691.0,Charles Jervas,1675.0,1739.0,Male,Rome,"41.89305556,12.48277778",1699-12-01,1709-12-01,1699.0,12.0,NaN,1709.0,12.0,NaN,by,1
2691.0,Charles Jervas,1675.0,1739.0,Male,London,"51.50853,-0.12574",1738-1-01,1738-10-01,1738.0,1.0,NaN,1738.0,10.0,NaN,NaN,2
2691.0,Charles Jervas,1675.0,1739.0,Male,Rome,"41.89305556,12.48277778",1738-10-01,1739-5-01,1738.0,10.0,NaN,1739.0,5.0,NaN,NaN,3
2566.0,Ignazio Enrico Hugford,1703.0,1778.0,Male,Florence,"43.77138889,11.25416667",1703-01-01,1778-01-01,1703.0,NaN,NaN,1778.0,NaN,NaN,NaN,0
1673.0,William Fauquier,1708.0,1788.0,Male,Milan,"45.4654219,9.1859243",1733-1-6,1733-1-6,1733.0,1.0,6.0,1733.0,1.0,6.0,by,0
1673.0,William Fauquier,1708.0,1788.0,Male,Venice,"45.43811,12.31814957",1733-3-01,1733-3-01,1733.0,3.0,NaN,1733.0,3.0,NaN,-mid,1
1673.0,William Fauquier,1708.0,1788.0,Male,Rome,"41.89305556,12.48277778",1733-3-01,1733-7-01,1733.0,3.0,NaN,1733.0,7.0,NaN,NaN,2
1673.0,William Fauquier,1708.0,1788.0,Male,Florence,"43.77138889,11.25416667",1734-7-21,1735-1-01,1734.0,7.0,21.0,1735.0,1.0,NaN,-,3
1164.0,"George Nassau Clavering Cowper, 3rd Earl Cowper",1738.0,1789.0,Male,Verona,"45.43815833,10.99374167",1759-6-4,1759-6-7,1759.0,6.0,4.0,1759.0,6.0,7.0,NaN,0

In [114]:
tutor_itineraries.shape

(175, 16)

In [115]:
collector_itineraries.shape

(312, 16)

## 5. Pandas question: how can I get all and only the entryIDs of architects
We can now do this quickly, using part of what we did for question 4 above. (And always keep in mind, there may be a better way to do these things than I am presenting! I am not a pandas expert.)

In [117]:
architect_life_events = travelers_life_events_all[ travelers_life_events_all['eventsDetail2'] == 'architect' ]

In [118]:
#get list of architect entryIDs
architect_list = list(set(architect_life_events.index.values))

In [119]:
architect_list

[4992.0,
 770.0,
 4610.0,
 1287.0,
 2700.0,
 3341.0,
 4239.0,
 1552.0,
 1937.0,
 5244.0,
 4244.0,
 21.0,
 23.0,
 1944.0,
 1177.0,
 416.0,
 2729.0,
 3628.0,
 301.0,
 686.0,
 2351.0,
 2995.0,
 4532.0,
 565.0,
 566.0,
 695.0,
 3893.0,
 3513.0,
 3514.0,
 1984.0,
 2754.0,
 707.0,
 3448.0,
 3784.0,
 2251.0,
 2509.0,
 4689.0,
 4307.0,
 4699.0,
 2140.0,
 4063.0,
 4447.0,
 4065.0,
 1891.0,
 2276.0,
 2792.0,
 3564.0,
 4077.0,
 881.0,
 4094.0,
 2168.0,
 3707.0,
 3708.0,
 2942.0]

In [120]:
len(architect_list)

54